<template>
  <div class="login_bg">
    <div class="register_wrapper">
      <div class="login_logo"></div>
      <form action="" @submit.prevent="register" class="register_block">
        <div class="register_main">
          <div class="register_info_block">
            <label class="light_sm_text" >Проект</label>
            <div class="register_project">
              <div :class="checkEducation()" @click="educationProject()">Образование</div>
              <div :class="checkSport()" @click="sportProject()" >Спорт</div>
            </div>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >БИН Организации</label>
            <input v-model="res.bin" @input="filterArray" class="register_input" placeholder="Введите БИH">
            <ul class="li_registration" v-if="filteredOrganizations.length">
              <li  v-for="(item, index) in filteredOrganizations" @click="selectOrganizations(item)" :key="index">{{ item }}</li>
            </ul>
            <p class="errors_block" v-if="errors['bin']"> {{ errors['bin'] }}</p>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Наименование</label>
            <input type="text" v-model="res.name" class="register_input" disabled>
          </div>
        </div>
        <div class="register_info">
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Область</label>
            <select @change.capture="selectRegion($event)" class="" required>
              <option :value="null"> Выберите область</option>
              <option v-for="(region , index)  in (regions)" :key="index" :value="region.id" style="padding: 5px"> {{region.region}} </option>
            </select>
          </div>
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Район</label>
            <select @change.capture="selectDistrict($event)" class="" :disabled="!res.region" required>
              <option :value="null"> Выберите регион</option>
              <option v-for="(district , index)  in (districts)" :key="index" :value="district.id" style="padding: 5px"> {{district.district}} </option>
            </select>
          </div>
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Тип</label>
            <select @change.capture="selectTypeOrg($event)" class="" required>
              <option :value="null"> Выберите тип</option>
              <option v-for="(typeOrg , index)  in (typeOrgs)" :key="index" :value="typeOrg.id" style="padding: 5px"> {{typeOrg.type_org}} </option>
            </select>
          </div>
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Признак город/село</label>
            <select @change.capture="selectTypeLocation($event)" class="" required>
              <option :value="null"> Выберите Признак</option>
              <option v-for="(typeLocation , index)  in (typeLocations)" :key="index" :value="typeLocation.id" style="padding: 5px"> {{typeLocation.type_location}} </option>
            </select>
          </div>
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Признак экологии</label>
            <select @change.capture="selectTypeRegion($event)" class="" required>
              <option :value="null"> Выберите признак экологии</option>
              <option v-for="(typeRegion , index)  in (typeRegions)" :key="index" :value="typeRegion.id" style="padding: 5px"> {{typeRegion.type_region}} </option>
            </select>
          </div>
          <div class="register_info_block" v-if="isEducation">
            <label class="light_sm_text" >Проектная мощность</label>
            <input type="number" max="1000" v-model="res.project_capacity" class="register_input" required>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >ФИО Администратора</label>
            <input type="text" max="50" class="register_input" v-model="res.admin_name" required>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Телефон</label>
            <input type="number" v-model="res.telephone" class="register_input" required>
            <p class="errors_block" v-if="errors['telephone']"> {{ errors['telephone'] }}</p>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Email</label>
            <input type="email" v-model="res.email" class="register_input" required>
            <p class="errors_block" v-if="errors['email']"> {{ errors['email'] }}</p>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Пароль</label>
            <input :type="showPassword === true ? 'text' : 'password'" id="password" v-model="res.password" class="input_password register_input" required>
            <div class="strength" :class="'level_' + strengthLevel"></div>
            <i class="fas fa-eye show-icon" v-if="showPassword" @click="showPassword = !showPassword"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="showPassword = !showPassword"></i>
            <i class="fas fa-frown level-icon" v-if="strengthLevel === 1"></i>
            <i class="fas fa-meh level-icon" v-if="strengthLevel === 2"></i>
            <i class="fas fa-smile level-icon" v-if="strengthLevel === 3"></i>
            <i class="fas fa-grin-stars level-icon" v-if="strengthLevel === 4"></i>
            <p class="errors_block" v-if="errors['password']"> {{ errors['password'] }}</p>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Повторите пароль</label>
            <input :type="showPasswordConf === true ? 'text' : 'password'" id="password_confirmation" v-model="res.password_confirmation" class="input_password register_input" required>
            <div class="strength" :class="'level_' + strengthLevelConf"></div>
            <i class="fas fa-eye show-icon" v-if="showPasswordConf" @click="showPasswordConf = !showPasswordConf"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="showPasswordConf = !showPasswordConf"></i>
            <i class="fas fa-frown level-icon" v-if="strengthLevelConf === 1"></i>
            <i class="fas fa-meh level-icon" v-if="strengthLevelConf === 2"></i>
            <i class="fas fa-smile level-icon" v-if="strengthLevelConf === 3"></i>
            <i class="fas fa-grin-stars level-icon" v-if="strengthLevelConf === 4"></i>
            <p class="errors_block" v-if="errors['password_confirmation']"> {{ errors['password_confirmation'] }}</p>
          </div>
          <div class="register_info_block justify-content-flex-end">
            <p class="errors_block" v-if="errors['errors']"> {{ errors['errors'] }}</p>
          </div>
        </div>
        <div class="register_map">
          <Map @data-to-parent="handleDataFromChild" :isRegistration="isRegistration" :location="empty" :mapAddress="regionName"/>
        </div>
        <div class="register_access flex">
          <div class="flex align-items-center">
              <input type="checkbox" class="mr-2" v-model="isAgreeWithPrivacy">
              <div class="light_sm_text mr-2"> Я соглашаюсь с  <a href="/privacy" class="link light_xs_text"> политикой конфиденциальностью</a> </div>
            <p class="errors_block" v-if="errors['privacy']"> {{ errors['privacy'] }}</p>
          </div>
          <div class="register_down flex justify-content-center align-items-center">
            <LoadingButton 
              class="reset_password_button register_button" 
              text="Зарегистрироваться"
              v-bind:isLoading="isLoading"
            />
            <a href="/login" class="link ml-3">Уже есть аккаунт? Войти</a>

          </div>
        </div>
      </form>
      <div class="login_support" @click="toSendProblem()">
        <div class="login_support_link"> ? </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Nav from "../../components/Nav";
import Map from "../../components/Map";
import LoadingButton from "../../components/LoadingButton";

export default {
  name: "Register",
  components: {
    Nav,
    Map,
    LoadingButton
  },
  data() {
    return {
      res: {
        type_project: 1,
        name: "",
        bin: "",
        region: "",
        district: "",
        type_org: "",
        type_location: "",
        type_region: "",
        project_capacity: "",
        telephone: "",
        admin_name: "",
        location: "",
        email: "",
        address: "",
        password: "",
        password_confirmation: "",
      },
      errors: {
        'bin' : '',
        'email' : '',
        'telephone' : '',
        'password' : '',
        'password_confirmation' : '',
        'privacy' : '',
      },
      empty: "",
      regionName: "",
      isAgreeWithPrivacy: false,
      isRegistration: true,
      regions: [],
      districts: [],
      typeOrgs: [],
      typeLocations: [],
      typeRegions: [],
      filteredOrganizations: [],
      organizations: [],
      isEducation: true,
      isLoading: false,
      showPassword: false,
      showPasswordConf: false
    };
  },
  watch: {
    'res.region': function() {
      this.getDistricts();
      this.getTypeRegion();
    }
  },
  computed: {
    scorePassword() {
        let score = 0;
        if(this.res.password === '') return score;

        let letters = {};
        for(let i = 0; i < this.res.password.length; i++) {
          letters[this.res.password[i]] = (letters[this.res.password[i]] || 0) + 1;
          score += 5.0 / letters[this.res.password[i]];
        }

        let variations = {
          digits: /\d/.test(this.res.password),
          lower: /[a-z]/.test(this.res.password),
          upper: /[A-Z]/.test(this.res.password),
          special: /\W/.test(this.res.password)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      strengthLevel() {
        let pass = this.scorePassword;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      scorePasswordConf() {
        let score = 0;
        if(this.res.password_confirmation === '') return score;

        let letters = {};
        for(let i = 0; i < this.res.password_confirmation.length; i++) {
          letters[this.res.password_confirmation[i]] = (letters[this.res.password_confirmation[i]] || 0) + 1;
          score += 5.0 / letters[this.res.password_confirmation[i]];
        }

        let variations = {
          digits: /\d/.test(this.res.password_confirmation),
          lower: /[a-z]/.test(this.res.password_confirmation),
          upper: /[A-Z]/.test(this.res.password_confirmation),
          special: /\W/.test(this.res.password_confirmation)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      strengthLevelConf() {
        let pass = this.scorePasswordConf;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      }
  },
  methods: {
    toSendProblem() {
      this.$router.push('/report-problems');
    },
    filterArray() {
      this.res.name = ""
      this.filteredOrganizations = Object.keys(this.organizations).filter(item => item.includes(this.res.bin));
      this.filteredOrganizations.slice(0, 5);
    },
    selectOrganizations(item) {
      this.res.bin = item;
      this.res.name = this.organizations[item];
      this.filteredOrganizations = [];
    },
    selectRegion(event) {
      this.res.region = event.target.value;
      this.regionName = Object.values(this.regions).filter(item => item.id == this.res.region)[0].region;
    },
    selectDistrict(event) {
      this.res.district = event.target.value;
      this.regionName = Object.values(this.districts).filter(item => item.id == this.res.district)[0].district;
    },
    selectTypeOrg(event) {
      this.res.type_org = event.target.value;
    },
    selectTypeLocation(event) {
      this.res.type_location = event.target.value;
    },
    selectTypeRegion(event) {
      this.res.type_region = event.target.value;
    },
    educationProject() {
      this.isEducation = true;
      this.res.type_project = 1;
    },
    sportProject() {
      this.isEducation = false;
      this.res.type_project = 2;
    },
    checkEducation() {
      if (this.isEducation) {
        return "register_selected_project"
      } else {
        return "register_not_selected_project"
      }
    },
    checkSport() {
      if (this.isEducation) {
        return "register_not_selected_project"
      } else {
        return "register_selected_project"
      }
    },
    async getRegions() {
      const res = await axios.get(window.location.origin + '/get-regions');
      this.regions = res.data;
    },
    async getDistricts() {
      const res = await axios.get(window.location.origin + '/get-districts?region=' + this.res.region);
      this.districts = res.data;
    },
    async getTypeOrg() {
      const res = await axios.get(window.location.origin + '/get-type-org');
      this.typeOrgs = res.data;
    },
    async getTypeLocation() {
      const res = await axios.get(window.location.origin + '/get-type-location');
      this.typeLocations = res.data;
    },
    async getTypeRegion() {
      const res = await axios.get(window.location.origin + '/get-type-regions');
      this.typeRegions = res.data;
    },
    async getFilteredOrganizationsName() {
      const res = await axios.get(window.location.origin + '/admin/get-filtered-organizations-name');

      this.organizations = res.data;
    },
    handleDataFromChild(data) {
      this.res.address = data['address'];
      this.res.location = data['location'];
    },
    async register(e) {
      let phoneValidation = /^\d{10}$/;
      this.errors = {
        'bin' : '',
        'email' : '',
        'telephone' : '',
        'password' : '',
        'password_confirmation' : '',
        'privacy' : '',
        'errors' : '',
      };

      if ( !this.res.name ) {
        this.errors['bin'] = 'Обратитесть в службу поддержки и добавьте свою организацию';
      }

      if(this.res.telephone.match(phoneValidation)|| this.res.telephone.length !== 11){
        this.errors['telephone'] = 'Заполните корректный номер телефона';
      }

      if (this.res.password.length < 8) {
          this.errors['password'] = "Пароль должен быть длиной не менее 8 символов";
      } else if (!/\d/.test(this.res.password)) {
          this.errors['password'] = "Пароль должен содержать хотя бы одну цифру";
      } else if (!/[a-z]/.test(this.res.password)) {
          this.errors['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
      } else if (!/[A-Z]/.test(this.res.password)) {
          this.errors['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
      } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.res.password)) {
          this.errors['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
      }
      
      if (this.res.password !== this.res.password_confirmation) {
          this.errors['password_confirmation'] = "Пароли не совпадают";
      }

      if (!this.isAgreeWithPrivacy) {
        this.errors['privacy'] = "Ознакомтесь с политикой конфиденциальности!";
      }

      let stop = (this.errors['bin'].length == 0 
              && this.errors['telephone'].length == 0 
              && this.errors['password'].length == 0
              && this.errors['password_confirmation'].length == 0
              && this.errors['privacy'].length == 0);

      if (!stop) {
        e.preventDefault();
        return;
      }
      
      await axios.post("api/register", {
        type_project: this.res.type_project,
        name: this.res.name,
        bin: this.res.bin,
        region: this.res.region,
        district: this.res.district,
        type_org: this.res.type_org,
        type_location: this.res.type_location,
        type_region: this.res.type_region,
        project_capacity: this.res.project_capacity,
        telephone: this.res.telephone,
        admin_name: this.res.admin_name,
        location: this.res.location,
        address: this.res.address,
        email: this.res.email,
        password: this.res.password,
        password_confirmation: this.res.password_confirmation,
      }).then( response => {
          this.errors['errors'] = response.data.errors;
          this.$router.push("/login");
      }).catch( error => {
          for (const key in error.response.data.errors) {
            if (this.errors.hasOwnProperty(key)) {
              this.errors[key] = error.response.data.errors[key][0];
            }
          }
          this.errors['errors'] = error.response.data.errors;
      });
    },
  },
  mounted() {
    this.getRegions();
    this.getDistricts();
    this.getTypeOrg();
    this.getTypeLocation();
    this.getTypeRegion();
    this.getFilteredOrganizationsName();
  }
};
</script>

<style src="./../../../css/app.css" scoped></style>

<style lang="scss" scoped>
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

.input_password {
  position: relative;
  padding-left: 40px !important;
  color: #333;
  overflow: hidden;
  z-index: 10;
  &:focus {
    outline: none;
  }
}

.strength {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  display: block;
  width: 25%;
  height: 40%;
  background-color: #a5df41;
  border-radius: 40px;
  overflow: hidden;
  z-index: 9;
  transition: all .5s linear;
}

@mixin level($position, $width, $color) {
  bottom: $position;
  width: $width;
  background-color: $color;
}

.level_0 {
  @include level(0, 25%, #BB4440);
}
.level_1 {
  @include level(-10px, 25%, #BB4440);
}
.level_2 {
  @include level(-10px, 50%, #E17D30);
}
.level_3 {
  @include level(-10px, 75%, #F0B03F);
}
.level_4 {
  @include level(-10px, 100%, #a5df41);
}

.level-icon {
  position: absolute;
  right: 10px;
  top: 39px;
  z-index: 11;
}

@mixin showpass($property) {
  position: absolute;
  left: $property;
  top: 39px;
  z-index: 11;
  cursor: pointer;
}
.show-icon {
  @include showpass(10px);
}
.hide-icon {
  @include showpass(8px);
  color: #555;
}
</style>

<style>
.login_support {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: -7%;
  background: #2EA263;
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px !important;
  color: white !important;
}
.login_support a {
  color: white;
}
.login_support:hover {
  background: white;
}
.login_support:hover .login_support_link{
  color: #2EA263 !important;
}
.feedback {
  text-decoration-style: none !important;
  text-align: center !important;
  padding: 10px 15px !important;
}
.li_registration {
  cursor: pointer;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 100%;
  border-radius: 5px;
  z-index: 999;
}
.li_registration li {
  padding: 5px;
  list-style-type: none;
  border-bottom: 1px solid #D5DBE2;
}
.register_info select{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  color: var(--text-color, #434656);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
option {
  color: var(--text-color, #434656);
  padding: 5px;
}
.register_map {
  /* height: 100%; */
  height: 250px;
  width: 97%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}
.register_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  /* height: max-content; */
  height: 100%;
  width: 80%;
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.30) 0%, rgba(3, 17, 30, 0.00) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  padding: 20px 50px;
  margin: 0 auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.register_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: auto;
}
.register_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid white  ;
}
.register_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.register_info_block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px 1.66666%;
}
.register_input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #D5DBE2;
  background: #FFF;
}
.register_project {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 33px;
  color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
  text-align: center;
  border-radius: 6px;
  background: #FFF;
  padding: 1px;
}
.register_selected_project {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 0.875rem;
  color: white;
  border-radius: 6px;
  background: #2EA263;
}
.register_not_selected_project {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 100%;
  font-size: 0.875rem;
}
.add_address {
  font-size: 1rem;
}
.search_container input {
    font-size: 1rem;
}
.google-map button {
    font-size: 1rem !important;
}
.register_access {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 60px;
}
.register_button {
  width: max-content;
  font-size: 0.875rem;
  padding: 7px 20px;
  border: none;
  border-radius: 7px;
  background: #2EA263;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
</style>