<template>
  <div class="login_bg">
    <div class="register_wrapper">
      <div class="login_logo"></div>
      <form action="" @submit.prevent="register" class="register_block">
        <div class="register_info">
          <div class="register_info_block">
            <label class="light_sm_text" >Наименование</label>
            <input type="text" v-model="res.name" class="register_input">
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Область</label>
            <select @change.capture="selectGovernment($event)" class="" required>
              <option :value="null"> Выберите область</option>
              <option :value="0" > Все области </option>
              <option v-for="(government , index)  in (governments)" :key="index" :value="government.id" style="padding: 5px"> {{government.government}} </option>
            </select>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Район</label>
            <select @change.capture="selectDepartment($event)" class="" :disabled="!res.government" required>
              <option :value="null" > Выберите регион</option>
              <option :value="0" > Все регионы </option>
              <option v-for="(department , index)  in (departments)" :key="index" :value="department.id" style="padding: 5px"> {{department.department}} </option>
            </select>
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Email</label>
            <input type="text" v-model="res.email" class="register_input">
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Пароль</label>
            <input type="password" v-model="res.password" class="register_input">
          </div>
          <div class="register_info_block">
            <label class="light_sm_text" >Повторите пароль</label>
            <input type="password" v-model="res.password_confirmation" class="register_input">
          </div>
        </div>
        <div class="register_access flex">
          <div class="flex align-items-center">
              <input type="checkbox" class="mr-2" v-model="isAgreeWithPrivacy">
              <div class="light_sm_text"> Я соглашаюсь с  <a href="/privacy" class="link light_xs_text"> политикой конфиденциальностью</a> </div>
          </div>
          <div class="register_down flex justify-content-center align-items-center">
            <a href="/login" class="link mr-3">Уже есть аккаунт? Войти</a>
            <LoadingButton 
              class="reset_password_button register_button" 
              text="Зарегистрироваться"
              v-bind:isLoading="isLoading"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Nav from "../../components/Nav";
import Map from "../../components/Map";
import LoadingButton from "../../components/LoadingButton";

export default {
  name: "Register",
  components: {
    Nav,
    Map,
    LoadingButton
  },
  data() {
    return {
      res: {
        name: "",
        government: null,
        department: null,
        admin_name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      isAgreeWithPrivacy: false,
      isAgreeWithPersonal: false,
      isRegistration: true,
      governments: [],
      departments: [],
      isLoading: false,
    };
  },
  watch: {
    'res.government': function() {
      this.getDepartments();
      this.getGovernments();
    },
    'form.government': function() {
      this.fetchOptions()
    }
  },
  methods: {
    selectGovernment(event) {
      this.res.government = event.target.value;
    },
    selectDepartment(event) {
      this.res.department = event.target.value;
    },
    async getGovernments() {
      const res = await axios.get(window.location.origin + '/get-government');
      this.governments = res.data;
    },
    async getDepartments() {
      const res = await axios.get(window.location.origin + '/get-department?government=' + this.res.government);
      this.departments = res.data;
    },
    async register() {
      if (this.res.password !== this.res.password_confirmation) {
        alert("Пароли не совпадают")
        return;
      }
      if ( !this.isAgreeWithPersonal && !this.isAgreeWithPrivacy) {
        alert("Ознакомтесь с политикой!")
        return;
      }
      
      await axios.post("api/analytic-users-register", {
        name: this.res.name,
        government: this.res.government,
        department: this.res.department,
        email: this.res.email,
        password: this.res.password,
        password_confirmation: this.res.password_confirmation,
      });

      this.$router.push("/login");
    },
  },
  mounted() {
    this.getGovernments();
    this.getDepartments();
  }
};
</script>
  
<style src="./../../../css/app.css" scoped></style>
  
<style>
</style>