<template>
    <div class="login_bg">
      <div class="login_wrapper">
        <div class="login_logo"></div>
        <div class="column justify-content-space-between align-content-center w-100">
          <form action="" @submit.prevent="login">
            <div class="login_title light_sm_text">Логин</div>
            <div class="username_wrapper">
              <input type="text" class="login_input" placeholder="Введите свой логин" v-model="email">
              <img src="./../../../../public/images/username_icon.svg" class="username_icon"/>
            </div>
            <div class="login_title light_sm_text">Пароль</div>
            <div class="password_wrapper">
              <input type="password" class="login_input" placeholder="Введите пароль" v-model="password">
              <img src="./../../../../public/images/password_icon.svg" class="password_icon"/>
            </div>
            <div class="errors_block" v-if="error"> {{ error }} </div>
            <LoadingButton 
              href="/api/login" 
              class="reset_password_button mt-4 mb-2" 
              text="Войти"
              v-bind:isLoading="isLoading"
            />
          </form>
        </div>
        <div class="row justify-content-space-between align-items-center w-100">
          <a href="/forgot-password" class="link">Забыли пароль?</a>
          <a href="/registration" class="link">Зарегистрироваться</a>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";
import Nav from "../../components/Nav";
import LoadingButton from "../../components/LoadingButton";

export default {
  name: "Login",
  components: {
    Nav,
    LoadingButton
  },
  data() {
    return {
      isLoading: false,
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    login() {
      this.error= "";
      axios.post("/api/login", {
        email: this.email,
        password: this.password,
      }).then( response => {
        localStorage.setItem("token", response.data.token);
        this.$store.dispatch("user", response.data.user);
        this.$router.push("/");
      }).catch( error => {
        if(error.response.status == 401) {
            this.$toast.error(error.response.data.error);
            this.error = error.response.data.error;
        } else {
            this.$toast.error('Произошла ошибка при входе в систему');
            this.error = 'Произошла ошибка при входе в систему';
        }
      })
    },
  },
};
</script>

<style src="./../../../css/app.css" scoped></style>

<style>
.errors_block {
  background: #edd2d2;
  color: #bb6366 !important;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #bb6366;
  padding: 5px;
  margin-top: 5px;
}
.done_block {
  background: #d2edd2;
  color: #63bb64 !important;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #63bb64;
  padding: 5px;
}
.login_bg {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-image: url(./../../../../public/images/login_bg.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 500px;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.30) 0%, rgba(3, 17, 30, 0.00) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  padding: 50px;
  margin: 0;
}
.login_logo {
  width: 200px;
  height: 40px;
  padding: 50px 0 30px 0;
  background-image: url(./../../../../public/images/login_logo.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_title {
  text-align: left;
  margin: 20px 0px 5px 0px;
}
.login_input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #D5DBE2;
  background: #FFF;
}
.login_input::placeholder {
  font-size: 1rem;
}
.reset_password_button {
  border: none;
  background: #2EA263;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.username_wrapper, .password_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.username_icon, .password_icon {
  position: absolute;
  right: 15px;
}
</style>