<template>
    <div>
      <Nav />
      <div class="container_childs min-vh-90 max-content">
        <div class="childs_no_data" v-if="childs.length == 0">
          <div class="teachers_excel">
            <div class="teachers_empty_title"> Пока нет ни одного ребенка </div>
            <div style="display: flex">
                <form @submit.prevent="importChildren" class="flex align-items-center normal_sm_text">
                  <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2" required/>
                  <button type="submit" class="childs_import_excel"> 
                    <div class="icon_excel"></div>
                    Импортировать
                  </button>
                </form>
            </div>
          </div>
        </div>
        <div class="childs" v-else>
          <div class="childs_header">
            <div class="normal_title"> Дети </div>
            <div class="childs_functions">
              <form @submit.prevent="importChildren" class="flex align-items-center normal_sm_text">
                <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2" required/>
                <button type="submit" class="childs_import_excel"> 
                  <div class="icon_excel"></div>
                  Импортировать
                </button>
              </form>
              <div class="mr-2">
                  <p class="errors_block" style="width: 100% !important;" v-if="errorExcel"> {{ errorExcel }}</p>
                </div>
              <div class="childs_export_excel" @click="exportChildren()">
                <div class="icon_excel"></div>
                <div class=""> Экспорт в Excel </div>
              </div>
            </div>
          </div>
          <div class="childs_table_wrapper" v-if="gender.length > 0">
            <EditableChildrenTable
                v-model="childs"
                :fields="fields"
                :rows="rows"
                :groups="groups"
                :gender="gender"
                @submit="handleUpdateChild($event)"
                @filter="handleFilterByGroup($event)"
                @remove="handleRemoveChild($event)"
                @updaterows="handleUpdateRows($event)"
            ></EditableChildrenTable>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import Nav from "../../components/Nav";
  import XLSX from 'xlsx-js-style';
  import LoadingButton from "../../components/LoadingButton.vue";
  import EditableChildrenTable from "../../components/EditableChildrenTable.vue";
  
  export default {
    name: "Groups",
    components: {
      Nav,
      LoadingButton,
      EditableChildrenTable
    },
    data() {
      return {
        gender: [],
        groups: [],
        isHoverEffectApplied: false,
        isAddChild: false,
        isEdited: false,
        isEditedChild: false,
        isLoading: false,
        editedChild: '',
        editedGender: '',
        errorExcel: '',
        childs: [],
        perPage: 15,
        currentPage: 1,
        filter: null,
        newChild: {
          name: '',
          iin: '',
          gender: '',
          group: null,
        },
        errorsNewChild: {
          "name" : "",
          "iin" : "",
          "gender" : "",
          "group_name" : "",
          "errors" : "",
        },
        errorsEditChild: {
          "iin" : "",
          "errors" : "",
        },
        fields: [
          { key: "selectRow", label: "" },
          { key: 'name', label: 'ФИО', sortable: true, required: true },
          { key: 'iin', label: 'ИИН Ребенка', sortable: true, required: true },
          { key: 'birth', label: 'Дата рождения', sortable: true, required: true,},
          { key: 'age', label: 'Возраст', sortable: true},
          { key: 'gender', label: 'Пол', sortable: true, type: "select", required: true, },
          { key: 'group_name', label: 'Группа', sortable: true, type: "select", required: true,},
          { key: 'edit', label: '', type: "edit"}
        ],
      };
    },
    methods: {
      selectGroup(event) {
        if ( this.isAddChild ) {
            this.newChild.group = event.target.value;
        } else {
            this.editedChild.group = event.target.value;
        }
      },
      selectGender(event) {
        if ( this.isAddChild ) {
            this.newChild.gender = event.target.value;
        } else {
            this.editedGender = event.target.value;
        }
      }, 
      async handleFilterByGroup( items ) {
        if ( items [1] == 'filter') {

          await this.getChilds();
          
          if ( items[0] != 0 ) {
            let filteredChild = this.childs.filter(child => {
              return child.group_name == items[0]
            });
            this.childs = filteredChild;
            this.rows = filteredChild.length;
            console.log(this.rows);
          }
        } else {
          this.rows = items[0];
          console.log(this.rows);
        }
      },
      async handleUpdateRows( rows ) {
        this.rows = rows;
        console.log(this.rows);
      },
      async handleUpdateChild( child ) {
        if ( child.age == '' ) {

          axios.post(`/api/childs/add-child`, {
                  name: child.name,
                  iin: child.iin,
                  gender: child.gender,
                  group: child.group_name,
                })
                .then(response => {
                  this.$toast.success(`Ребенок успешно добавлен!`);
                  this.getChilds();
                }).catch(err => this.$toast.error(err.response.data.errors));

        } else {
          
          if ( child.id ) {

            this.errorsEditChild = {
              "iin" : "",
              "errors" : ""
            }

            if (child.iin.length != 12) {
              this.errorsEditChild['iin'] = "Неправильный формат ИИH"
            }

            let stop = (this.errorsEditChild['iin'].length == 0 && this.errorsEditChild['errors'].length == 0);

            if (!stop) {
              e.preventDefault();
              return;
            }

            axios.put(`/api/childs/update/${child.id}`, { 
              'gender': child.gender,
              'group_name': child.group_name
            }).then(response => {
              this.$toast.success(`Данные успешно изменены!`);
              this.getChilds();
            }).catch( error => {
              this.$toast.error(error);
              this.errorsNewChild['errors'] = error.response.data.errors;
            });
          }
        }
      },
      async handleRemoveChild(childs) {
        if (childs.length > 0) {
          await childs.map(async (child) => {
              const response = await axios.put(`/api/childs/delete/${child.id}`).then(response => {
              })
              .catch(error => {
                this.$toast.error(error);
              });
          })
          this.getChilds();
          this.$toast.success("Выбранные дети удалены с базы!")
        } else {
          const response = await axios.put(`/api/childs/delete/${childs.id}`).then(response => {
          }).catch(error => {
            this.$toast.error(error);
          });
          
          this.getChilds();
          this.$toast.success(`${childs.name} удален с базы!`)
        }
      },
      exportChildren() {
        const wb = XLSX.utils.book_new();


        this.childs.map( child => {

          this.$delete(child, 'id');
          this.$delete(child, 'isEdit');
          this.$delete(child, 'isSelected');
          this.$delete(child, 'validity');

          this.gender.forEach( gen => {
            if (child.gender == gen.value && gen.text) {
              child.gender = gen.text;
            }
          })
          this.groups.forEach( group => {
            if (child.group_name == group.value && group.text) {
              child.group_name = group.text;
            }
          })
        })
        const ws = XLSX.utils.json_to_sheet(this.childs);
        XLSX.utils.book_append_sheet(wb, ws, 'Дети');
        XLSX.writeFile(wb, 'Дети.xlsx');
      },
      importChildren() {
        const fileInput = this.$refs.file;
        const file = fileInput.files[0];
        this.errorExcel = '';

        if (file) {
          const formData = new FormData();
          formData.append('file', file);

          axios.post('api/add-childs', formData)
            .then(response => {
              if (response.data.status == 'success') {
                this.$toast.success("Дети импортированы успешно!");
                this.getChilds();
              } else {
                this.$toast.error(response.data);
                this.errorExcel = response.data;
              }
            })
            .catch(error => {
              this.$toast.error("Таблица эксель заполнена не по формату");
              this.errorExcel = "Таблица эксель заполнена не по формату";
            });
        } else {
          alert('Please select an Excel file.');
        }
      },
      async getChilds() {
        const res = await axios.get('/api/get-org-childs');
        this.childs = res.data;
        
        this.childs = this.childs.map(item => ({...item, isEdit: false, isSelected: false, validity: {}}));
        if ( this.childs ) {
            this.rows = this.childs.length;
        } else {
            this.rows = 0;
        }
      },
      async getGender() {
        const data = await axios.get(window.location.origin + '/get-gender');
        this.gender = data.data.map(item => {
          return {
            value : item.id,
            text: item.gender
          }
        });
      },
      async getGroups() {
        const res = await axios.get('/api/get-org-groups');
        this.groups = res.data.map( item => {
          return {
            value: item.id,
            text: item.name
          }
        });
      },
    },
    async mounted() {
      this.getChilds();
      await this.getGroups();
      await this.getGender();
      
      this.fields[5].options = this.gender
      this.fields[6].options = this.groups
    }
  };
  </script>
  
  <style>
  .childs_table_wrapper {
    overflow: hidden;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  .table th, .table td {
    border: 1px solid #dee2e6;
  }
  .table thead th {
    color: var(--text-color, #434656);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: norm;
    padding: 10px 20px;
    border: 1px solid #dee2e6;
  }
  .table tbody tr td {
    color: var(--text-color, #434656);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 25px;
  }
  .page-item.active .page-link {
    background-color: #2EA263;
    border: 1px solid #2EA263;
  }
  ol, ul, dl {
    margin-bottom: 0;
  }
  .childs_panel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 25px;
  }
  .childs_search {
    width: 250px;
    border-radius: 6px;
    border: 1px solid #D5DBE2;
    background: #FFF;
    padding: 5px 10px;
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container_childs {
    width: 100%;
    padding: 1%;
    background: #EFF3F5;
  }
  .childs {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
  }
  .childs_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #43465640;
  }
  .childs_functions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .childs_export_excel, .childs_import_excel {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: var(--main-color, #2EA263);
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
  }
  .childs_export_excel:hover, .childs_import_excel:hover{
    color: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    background: var(--main-color, #2EA263);
  }

  .childs_add {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background: var(--main-color, #2EA263);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
    margin-right: 10px;
  }
  .childs_add:hover {
    cursor: pointer;
    background: var(--main-color, #7acfa0);
  }
  .childs_edited {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background: var(--blue-2, #2D9CDB);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
  }
  .childs_edited:hover {
    cursor: pointer;
    background: var(--blue-2, #89c9ef);
  }
  .hover-effect:hover {
    cursor: url(./../../../../public/images/icons8-pointer.svg) 0 3, auto !important;
  }
  .icon_edit {
    width: 20px;
    height: 20px;
    background-image: url(./../../../../public/images/icon_edit.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .icon_delete {
    width: 20px;
    height: 16px;
    background-image: url(./../../../../public/images/trash.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .childs_no_data {
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
  }
  .home-title {
    font-size: 4rem;
  }
  .masthead {
    background: linear-gradient(0deg, #4e73df 0%, #36b9cc 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .min-vh-88 {
      min-height: 88vh !important;
  }
  </style>
  