<template>
    <div class="teachers_right">
      <b-modal
          id="modal-1"
          v-model="isDeleteGroup"
          ok-title="Удалить"
          cancel-title="Отмена"
          @ok="deleteGroup"
      >
          <p class="my-4"> Вы уверены, что хотите удалить группу ?</p>
      </b-modal>

      <div class="teachers_excel" v-if="groups.length == 0 && !isAdd">
        <div class="teachers_empty_title"> Пока нет ни одного воспитателя </div>
        <div style="display: flex">
          <form @submit.prevent="importGroups" class="flex align-items-center normal_sm_text">
            <div class="column">
              <div class="flex">
                <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2" required/>
                <LoadingButton 
                  class="childs_import_excel register_button mr-3" 
                  text="Импортировать"
                  v-bind:isLoading="isLoading"
                />
                <div class="">
                  <p class="errors_block" style="width: 100% !important;" v-if="errorExcel"> {{ errorExcel }}</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <form action="" @submit.prevent="createGroup" class="teacher_info_add" v-if="isAdd">
        <div class="teacher_info_add">
          <div class="teacher_edit_block">
              <div> Название: </div> 
              <input type="text" v-model="newGroup.name">
          </div>
          <div class="teacher_edit_block">
              <div >Количество мест:</div> 
              <input type="number" max="50" v-model="newGroup.count_place">
          </div>
          <div class="teacher_edit_block">
              <div >Pежим группы:</div> 
              <select @change.capture="addTypeGroup($event)" class="" required>
                <option :value="null"> Выберите pежим группы</option>
                <option v-for="(type_group , index)  in (type_groups)" :key="index" :value="type_group.category" style="padding: 5px"> {{type_group.type_of_group}} </option>
              </select>
          </div>
          <div class="teacher_edit_block">
              <div >Возрастная группа:</div> 
              <select @change.capture="addGroupsAge($event)" style="width: 80% !important;" required>
                <option :value="null"> Выберите возрастную группу</option>
                <option v-for="(groups_age , index)  in (groups_ages)" :key="index" :value="groups_age.id" style="padding: 5px;"> {{groups_age.age}} </option>
              </select>
          </div>
        </div>
        <div class="flex" style="margin: 0 auto;">
          <button class="teachers_button teacher_cancel mr-3" @click="cancelCreateGroup"> Отмена </button>
          <LoadingButton 
              class="reset_password_button register_button" 
              text="Добавить группу"
              v-bind:isLoading="isLoading"
          />
        </div>
      </form>
      <div class="teachers_selected" v-if="groupInfo.id && !isAdd">
        <div class="groups_right_header">
          <div class="groups_right_title"> {{ groupInfo.name }}</div>
          <div class="groups_right_header_buttons">
            <button class="teacher_edit teachers_no_button" @click="editButton()" v-if="!isEdited"> <div class="icon_edit"></div> Редактировать</button>
            <div class="teacher_save" v-if="isEdited">
              <button class="teacher_edit teacher_cancel" @click="cancelButton()" > Отмена </button>
              <button class="teacher_edit teacher_save_button" @click="editGroup()" > Сохранить </button>
            </div>
          </div>
        </div>
        <div class="group_info_edit" style="padding: 20px 20px 0 20px;" v-if="isEdited">
          <div class="group_edit_block">
              <div>Назвавние группы *</div> 
              <input type="text" v-model="edit.name">
          </div>
          <div class="group_edit_block">
              <div>Режим группы *</div> 
              <select @change.capture="selectTypeGroup($event)" class="" required v-model="edit.type_group">
                <option :value="null"> Выберите pежим группы</option>
                <option v-for="(type_group , index)  in (type_groups)" :key="index" :value="type_group.category" style="padding: 5px"> {{type_group.type_of_group}} </option>
              </select>
            <p class="errors_block" style="width: 94% !important;" v-if="errors['type_group']"> {{ errors['type_group'] }}</p>
          </div>
          <div class="group_edit_block">
              <div>Количество мест *</div> 
              <input type="text" v-model="edit.count_place">
            <p class="errors_block" style="width: 94% !important;" v-if="errors['count_place']"> {{ errors['count_place'] }}</p>
          </div>
          <div class="group_edit_block">
              <div > Возрастная группа *</div>
              <select @change.capture="selectGroupsAge($event)" class="" required>
                <option :value="null"> Выберите возрастную группу</option>
                <option v-for="(groups_age , index)  in (groups_ages)" :key="index" :value="groups_age.id" style="padding: 5px"> {{groups_age.age}} </option>
              </select>
              <p class="errors_block" style="width: 80% !important;" v-if="errors['age']"> {{ errors['age'] }}</p>
          </div>
        </div>
        
        <group-info :groupInfo="groupInfo" :isEdited="isEdited" :isAddTeacherShowed="isAddTeacherShowed" @toggle-is-show-teachers="onToggleIsShowTeachers" @teacher-changing="handleTeachersChanging()" @edited-group-info="editGroup()"/>
        
        <div class="group_childs">
          <b-table 
              :per-page="perPage"
              :current-page="currentPage"
              :filter="filter" 
              :items="childsInGroup" 
              :fields="fields"
              @head-clicked="showListOfChildsToAdd"
          >
            <template v-slot:cell(index)="data">
               {{ data.index + 1 }}
            </template>
            <template v-slot:cell(remove)="data">
              <div @click=removeChildFromGroup(data) class="icon_remove" > </div>
            </template>
          </b-table>
          <div class="flex justify-content-space-between align-items-center">
            <b-pagination
              class="childs_pagination mt-2"
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="my-table"
              hide-goto-end-buttons
              hide-ellipsis
              last-number
            ></b-pagination>
            <div class="mt-2" v-if="isEdited">
              <button class="teacher_edit teacher_delete flex justify-content-space-between" @click="isDeleteGroup = true">
                <div class="icon_delete"></div>
                  Удалить
              </button>
            </div>
          </div>
        </div>

        <div class="teachers_mobile_popup" v-if="isAddChild">
            <div class="teachers_mobile_popup_wrapper pb-2">
                <div class="teachers_add_mobile_header">
                    <div class="teachers_add_mobile_title p-4"> Добавить ребенка в группу “{{ groupInfo.name }}” </div>
                    <div class="icon_close" @click="closePopup()"></div>
                </div>
                <div class="">
                  <div class="flex justify-content-space-between align-items-center px-5 py-2">
                    <div class="main_childs_groups">
                      <select @change.capture="selectGroup($event)" class="w-100" required>
                        <option :value="0"> Без группы </option>
                        <option v-for="(group , id)  in (otherGroups)" :key="id" :value="id" style="padding: 5px"> {{group}} </option>
                      </select>
                    </div>
                    <b-pagination
                      class="childs_pagination mt-2"
                      v-model="popupCurrentPage"
                      :total-rows="popupRows"
                      :per-page="popupPerPage"
                      aria-controls="my-table"
                      hide-goto-end-buttons
                      hide-ellipsis
                      last-number
                    ></b-pagination>
                  </div>
                  <b-table 
                      :per-page="popupPerPage"
                      :current-page="popupCurrentPage"
                      :filter="filter" 
                      :items="childsNotInGroup" 
                      :fields="fields"
                  >
                    <template v-slot:cell(index)="data">
                       {{ data.index + 1 }}
                    </template>
                    <template v-slot:cell(remove)="data">
                      <div @click=addChildToGroup(data) class="icon_add" > </div>
                    </template>
                  </b-table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import { BTable, BPagination } from 'bootstrap-vue';
  import LoadingButton from "../../components/LoadingButton.vue";
  import { BootstrapVue, BModal } from 'bootstrap-vue';

  export default {
    name: "Group",
    props: {
      groups: Array,
      childsInGroup: Array,
      groupInfo: Object,
      isAdd: Boolean
    },
    components: {
      BTable,
      BPagination,
      axios,
      LoadingButton,
      BootstrapVue,
      BModal
    },
    data() {
      return {
        isAddTeacherShowed: false,
        isEdited: false,
        isAddChild: false,
        isLoading: false,
        isDeleteGroup: false,
        perPage: 10,
        popupPerPage: 10,
        currentPage: 1,
        popupCurrentPage: 1,
        filter: null,
        errorExcel: '',
        type_groups: '',
        groups_ages: '',
        otherGroups: '',
        selectedGroupToAddChild: 0,
        otherChilds: [],
        edit: {
          name: '',
          type_group: '',
          age: '',
          count_place: '',
        },
        newGroup: {
          name: "",
          count_place: "",
          type_group: "",
          age: "",
        },
        errors : {
          'type_group' : "",
          'count_place' : "",
          'age' : "",
          'errors': ""
        },
        fields: [
          { key: 'name', label: 'ФИО', sortable: true, tdClass: 'vertical-center'},
          { key: 'iin', label: 'ИИН Ребенка', sortable: true, },
          { key: 'birth', label: 'Дата рождения', sortable: true, },
          { key: 'gender', label: 'Пол', sortable: true, },
          { key: 'age', label: 'Возраст', sortable: true, },
        ],
      };
    },
    computed: {
      rows() {
        let rows = (this.childsInGroup) ? this.childsInGroup.length : 1;
        return rows;
      },
      popupRows() {
        let rows = (this.childsNotInGroup) ? this.childsNotInGroup.length : 1;
        return rows;
      },
      groupNames() {
        return Object.keys(this.groupInfo.group_names);
      },
      childsNotInGroup() {
        return this.otherChilds;
      },
      selectedGroupId() {
        return this.groupInfo.id;
      }
    },
    watch: {
      'selectedGroupToAddChild': function() {
        this.getChildsNotIncluded();
      },
      selectedGroupId() {
        this.isEdited = false;
        this.isAddTeacherShowed = false;
      }
    },
    methods: {
      handleTeachersChanging() {
        this.$emit('update-groups', this.groupInfo.id);
      },
      selectGroup(event) {
        this.selectedGroupToAddChild = event.target.value;
      },
      showListOfChildsToAdd(field) {
        if ( this.isEdited && field === 'remove') {
          this.getGroupsNotIncluded();
          this.getChildsNotIncluded();
          this.isAddChild = true;
        }
      },
      closePopup() {
        this.otherChilds = [];
        this.isAddChild = false;
      },
      cancelCreateGroup() {
        this.$emit('update-is-add', null);
      },
      removeChildFromGroup(data) {
        axios.put(`/api/groups/delete-child/${this.groupInfo.id}`, {
                id_child: data.item.id
              })
              .then(response => {
                this.$emit('update-childs');
                this.$emit('update-groups', this.groupInfo.id);
              })
              .catch(error => {
                console.error(error);
              });
      },
      addChildToGroup(data) {
        axios.put(`/api/groups/add-child/${this.groupInfo.id}`, {
                id_child: data.item.id
              })
              .then(response => {
                this.getChildsNotIncluded();
                this.$emit('update-groups', this.groupInfo.id);
              })
              .catch(error => {
                console.error(error);
              });
      },
      editButton() {
        let type_group;
        let age;

        Object.values(this.type_groups).forEach( typeOfGroup => {
          if ( typeOfGroup.type_of_group == this.groupInfo.type_group) {
             type_group = typeOfGroup.category
          }
        });
        
        Object.values(this.groups_ages).forEach( groupAge => {
          if ( groupAge.age == this.groupInfo.age) {
             age = String(groupAge.id)
          }
        });

        this.edit = {
            "name": this.groupInfo.name,
            "count_place": this.groupInfo.count_place,
            "type_group": type_group,
            "age": age,
        };

        // this.fields.push({ key: 'remove', label: '+'});
        this.isEdited = !this.isEdited;
      },
      onToggleIsShowTeachers() {
        this.isAddTeacherShowed = !this.isAddTeacherShowed;
      },
      cancelButton() {
        this.fields.pop();
        this.isAddTeacherShowed = false;
        this.isEdited = !this.isEdited;
      },
      createGroup(){
        axios.post("/api/create-group", this.newGroup).then(res => {
            this.$toast.success("Группа успешно создана!")
            this.$emit('update-is-add', false);
            this.$emit('update-groups', null);
        }).catch(err => this.$toast.error(err.response))
      },
      deleteGroup(){
        let teachers = Object.keys(this.groupInfo.teacher_names).join(',');
        axios.put(`/api/groups/delete/${this.groupInfo.id}`, {
                teachers: teachers
              })
              .then(response => {
                this.$toast.success("Группа успешно удалена!");
                this.$emit('update-is-add', false);
                this.$emit('update-groups', null);
              })
              .catch(error => {
                this.$toast.error(error.response.data.error);
                this.errors['errors'] = error.response.data.error;
              });
      },
      async getTypeGroup() {
        const res = await axios.get('/get-type-group');
        this.type_groups = res.data;
      },
      async getGroupsAge() {
        const res = await axios.get(window.location.origin + '/get-groups-age');
        this.groups_ages = res.data;
      },
      selectTypeGroup(event) {
        this.edit.type_group = event.target.value;
      },
      selectGroupsAge(event) {
        console.log(event.target.value);
        this.edit.age = event.target.value;
      },
      addTypeGroup(event) {
        this.newGroup.type_group = event.target.value;
      },
      addGroupsAge(event) {
        this.newGroup.age = event.target.value;
      },
      editGroup() {
        this.errors = {
          'type_group' : "",
          'count_place' : "",
          'age' : "",
          "errors" : ""
        };
        
        if ( !this.edit.type_group) {
          this.errors['type_group'] = "Выберите режим группы"
        }
        if ( !this.edit.count_place) {
          this.errors['count_place'] = "Запишите количество мест"
        }
        if ( this.edit.count_place > 50) {
          this.errors['count_place'] = "Количество мест не может быть больше 50"
        }
        if ( !this.edit.age) {
          this.errors['age'] = "Выберите возрастную группа"
        }

        let stop = (this.errors['type_group'].length == 0
              && this.errors['count_place'].length == 0
              && this.errors['errors'].length == 0
              && this.errors['age'].length == 0);

        if (!stop) {
          return;
        }

        axios.put(`/api/groups/update/${this.groupInfo.id}`, { 
            name: this.edit.name, 
            type_group: this.edit.type_group, 
            count_place: this.edit.count_place, 
            age: this.edit.age,
          })
          .then(response => {
            this.isEdited = !this.isEdited;
            this.$emit('update-groups', this.groupInfo.id);
            this.$toast.success("Данные группы сохранены!")
          })
          .catch(error => {
            this.$emit('update-groups', error.response.data.error);
            this.$toast.error(error.response.data.error)
            this.errors['errors'] = error.response.data.error;
          });
      },
      importGroups() {
        const fileInput = this.$refs.file;
        const file = fileInput.files[0];
        this.errorExcel = '';
        
        if (file) {
          const formData = new FormData();
          formData.append('file', file);
          axios.post('api/add-groups', formData)
            .then(response => {
              if (response.data.status == 'success') {
                this.$toast.success("Группы импортированы успешно!")
                this.$emit('update-is-add', false);
                this.$emit('update-groups', null);
              } else {
                this.$toast.error("Таблица эксель заполнена не по формату")
                this.errorExcel = response.data;
              }
            })
            .catch(error => {
                this.$toast.error("Таблица эксель заполнена не по формату")
                this.errorExcel = "Таблица эксель заполнена не по формату";
            });
        } else {
          alert('Please select an Excel file.');
        }
      },
      async getChildsNotIncluded() {
        const res = await axios.get('api/get-childs-not-included?id_group=' + this.selectedGroupToAddChild);
        this.otherChilds = res.data;
      },
      async getGroupsNotIncluded() {
        const res = await axios.get('api/get-other-groups-list?id_group=' + this.groupInfo.id);
        this.otherGroups = res.data;
      },
    },
    mounted() {
      this.getTypeGroup();
      this.getGroupsAge();
    }
  };
  </script>
  
  <style>
  .table tbody tr td {
    vertical-align: middle;
  }
  .table th {
    cursor: pointer;
  }
  .groups_right_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #43465640;
  }
  .groups_right_title {
    color: var(--text-color, #434656);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .group_childs {
    padding: 0 20px 20px 20px;
  }
  .group_edit_block {
    width: 33%;
    margin-bottom: 10px;
  }
  .group_info_edit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
  }
  .group_edit_block div {
      color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
  }
  .main_childs_groups {
    width: 200px;
  }
  .group_edit_block input, .teacher_edit_block select, .group_edit_block select, .group_edit_block option, .main_childs_groups select {
      width: 94%;
      color: var(--text-color, #434656);
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #D5DBE2 !important;
  }
  .icon_remove {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(./../../../../public/images/icon_remove.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon_add {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(./../../../../public/images/add.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
  }
  header {
    height: auto;
  }
  </style>
  