<template>
    <div>
      <Nav />
      <div class="container_teachers min-vh-90 max-content">
        <div class="teachers">
            <div class="teachers_left">
                <div class="teachers_header">
                    <div class="teachers_header">
                        <div class="groups_logo"></div>
                        <div class="teachers_title">Группы</div>
                    </div>
                    <button class="teachers_button teachers_no_button" @click="addGroup()"> <div class="icon_plus"></div> Добавить</button>
                </div>
                <div class="teachers_list">
                    <div class="teacher_left_block" :class="{ 'teacher_left_block_selected': activeIndex === index }" v-for="(group, index) in groups" :key="index" @click="selectGroup(group, index)">
                      <div class="teacher_left_list">
                        <div class="">
                          <div class="teacher_name" :class="{ 'font_color_white': activeIndex === index }" >{{ group.name }}</div>
                          <div class="teacher_groups mr-4" :class="{ 'font_color_white': activeIndex === index }"> Воспитатели: {{ getTeacherNames(group) }}</div>
                          <div class="teacher_groups" :class="{ 'font_color_white': activeIndex === index }"> Количество детей: {{ group.childs_amount }}</div>
                        </div>
                        <div class="arrow_right" :class="{ 'display_none': activeIndex === index }"></div>
                      </div>
                    </div>
                </div>
            </div>
            <group  :groups="groups" :groupInfo="selectedGroup" :childsInGroup="childsInGroup" :isAdd="isAdd" 
                    @update-is-add="updateIsAdd($event)" 
                    @update-groups="updateGroups($event)" 
                    @update-childs="getGroupChilds()"
            />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import Nav from "../../components/Nav";
  import axios from "axios";
  
  export default {
    name: "groups",
    components: {
      Nav,
      axios
    },
    data() {
      return {
        activeIndex: -1,
        isAdd: false,
        childsInGroup: [],
        selectedGroup: {},
        groups: []
      };
    },
    computed: {
    },
    methods: {
      addGroup() {
        this.activeIndex = -1;
        this.isAdd = true;
      },
      updateIsAdd( position ) {
        if ( position == null ) {
          console.log(position)
          this.isAdd = !this.isAdd;
        } else {
          this.activeIndex = -1;
          this.isAdd = false;
          this.selectedGroup.id = null;
        }
      },
      async updateGroups(groupId) {
        await this.getGroups();
        let selectedGroup;

        if ( groupId == null ) {
          this.isAdd = false;
        } else {
          Object.values(this.groups).forEach( group => {
            if (group.id == groupId) {
              selectedGroup = group;
            }
          })
          this.selectGroup(selectedGroup, this.activeIndex);
        }
      },
      async getGroups() {
        const res = await axios.get('/api/get-org-groups');
        this.groups = res.data;
      },
      async getGroupChilds() {
        const res = await axios.get('/get-group-childs?groupId=' + this.selectedGroup.id);
        this.childsInGroup = res.data;
      },
      selectGroup(group, index) {
        this.activeIndex = index;
        this.selectedGroup = group;
        this.getGroupChilds();
        this.isAdd = false;
      },
      getTeacherNames(group) {
        if ( group.teacher_names.length !== 0 ) {
          return Object.values(group.teacher_names).join(', ');
        } else {
          return "Нет привязанных воспитателей";
        }
      }
    },
    created () {
      this.getGroups();
    },
    mounted() {
    },
  };
  </script>
  
  <style>
  .min-vh-90 {
      min-height: 92vh !important;
  }
  .container {
    width: 100%;
    background: #EFF3F5;
  }
  .groups_logo {
    background-image: url(./../../../../public/images/groups_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .groups_logo_sm {
    background-image: url(./../../../../public/images/groups_icon_sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  </style>
  