<template>
    <div>
      <Nav />
      <div class="container_teachers min-vh-90 max-content">
        <div class="teachers">
            <div class="teachers_left">
                <div class="teachers_header">
                    <div class="teachers_header">
                        <div class="groups_logo"></div>
                        <div class="teachers_title">Ошибки в приложении</div>
                    </div>
                </div>
                <div class="teachers_list">
                    <div class="teacher_left_block" 
                        :class="{ 'teacher_left_block_selected': activeIndex === index }" 
                        v-for="(error, index) in errors" :key="index" 
                        @click="selectError(error, index)"
                    >
                      <div class="teacher_left_list">
                        <div class="">
                          <div class="teacher_name" :class="{ 'font_color_white': activeIndex === index }" >{{ error.id_teacher }}</div>
                          <div class="teacher_groups mr-4" :class="{ 'font_color_white': activeIndex === index }"> Время: {{ error.time }}</div>
                          <div class="teacher_groups" :class="{ 'font_color_white': activeIndex === index }"> </div>
                        </div>
                        <div class="arrow_right" :class="{ 'display_none': activeIndex === index }"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="teachers_right">
              <div class="app_error" v-if="activeIndex !== -1"> 
                <error :selectedError="selectedError" />
              </div>
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import Nav from "../../components/Nav";
  import Error from "./Error.vue";
  import axios from "axios";
  
  export default {
    name: "AppErrors",
    components: {
      Nav,
      Error,
      axios
    },
    data() {
      return {
        activeIndex: -1,
        selectedError: {},
        errors: []
      };
    },
    computed: {
    },
    methods: {
      async getErrors() {
        const res = await axios.get('/api/get-errors');
        this.errors = res.data;
      },
      selectError(error, index) {
        this.activeIndex = index;
        this.selectedError = error;
      }
    },
    created () {
      this.getErrors();
    },
    mounted() {
    },
  };
  </script>
  
  <style>
  </style>
  