<template>
    <div class="login_bg">
      <div class="register_wrapper">
        <div class="login_logo"></div>
        <form action="" @submit.prevent="edit" class="register_block">
          <div class="register_main">
            <div class="register_info_block">
              <label class="light_sm_text" for="">Проект</label>
              <div class="register_project">
                <div class="px-2"> {{ user.type_project }}</div>
              </div>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Наименование</label>
              <input type="text" v-model="res.name" class="register_input" disabled>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">БИН Организации</label>
              <input type="text" v-model="res.bin" class="register_input" disabled>
            </div>
          </div>
          <div class="register_info" v-if="isEducation">
            <div class="register_info_block">
              <label class="light_sm_text" for="">Область</label>
              <select @change.capture="selectRegion($event)" class="" required>
                <option :value="null"> Выберите область</option>
                <option v-for="(region , index)  in (regions)" :key="index" :value="region.id" style="padding: 5px"> {{region.region}} </option>
              </select>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Район</label>
              <select @change.capture="selectDistrict($event)" class="" :disabled="!res.region" required>
                <option :value="null"> Выберите регион</option>
                <option v-for="(district , index)  in (districts)" :key="index" :value="district.id" style="padding: 5px"> {{district.district}} </option>
              </select>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Тип</label>
              <select @change.capture="selectTypeOrg($event)" class="" required>
                <option :value="null"> Выберите тип</option>
                <option v-for="(typeOrg , index)  in (typeOrgs)" :key="index" :value="typeOrg.id" style="padding: 5px"> {{typeOrg.type_org}} </option>
              </select>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Признак город/село</label>
              <select @change.capture="selectTypeLocation($event)" class="" required>
                <option :value="null"> Выберите Признак</option>
                <option v-for="(typeLocation , index)  in (typeLocations)" :key="index" :value="typeLocation.id" style="padding: 5px"> {{typeLocation.type_location}} </option>
              </select>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Признак экологии</label>
              <select @change.capture="selectTypeRegion($event)" class="" required>
                <option :value="null"> Выберите признак экологии</option>
                <option v-for="(typeRegion , index)  in (typeRegions)" :key="index" :value="typeRegion.id" style="padding: 5px"> {{typeRegion.type_region}} </option>
              </select>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Проектная мощность организации</label>
              <input type="text" max="1000" v-model="res.project_capacity" class="register_input" required>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">ФИО Администратора</label>
              <input class="register_input" v-model="res.admin_name" required>
            </div>
            <div class="register_info_block">
              <label class="light_sm_text" for="">Телефон</label>
              <input type="text" v-model="res.telephone" class="register_input" required>
            </div>
          </div>
          <div class="register_map">
            <Map @data-to-parent="handleDataFromChild" :isRegistration="isRegistration" :location="empty"/>
          </div>
          <div class="register_access mt-5">
            <div class="register_submit wrap justify-content-center align-items-center profile_settings">
              <LoadingButton 
                class="reset_password_button register_button" 
                text="Изменить настройки"
                v-bind:isLoading="isLoading"
              />
              <a href="/profile" class="link ml-3"> Вернуться назад</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import { mapGetters } from "vuex";
  import Nav from "../../components/Nav";
  import Map from "../../components/Map";
  import LoadingButton from "../../components/LoadingButton";
  
  export default {
    name: "ProfileSettings",
    components: {
      Nav,
      Map,
      LoadingButton
    },
    data() {
      return {
        res: {
          type_project: 1,
          name: "",
          bin: "",
          region: "",
          district: "",
          type_org: "",
          type_location: "",
          type_region: "",
          project_capacity: "",
          telephone: "",
          admin_name: "",
          location: "",
          address: "",
        },
        empty: "",
        isRegistration: true,
        regions: [],
        districts: [],
        typeOrgs: [],
        typeLocations: [],
        typeRegions: [],
        isEducation: true,
        isLoading: false,
      };
    },
    computed: {
      ...mapGetters(["user"]),
    },
    watch: {
      'res.region': function() {
        this.getDistricts();
        this.getTypeRegion();
      },
      'form.region': function() {
        this.fetchOptions()
      }
    },
    methods: {
      selectRegion(event) {
        this.res.region = event.target.value;
      },
      selectDistrict(event) {
        this.res.district = event.target.value;
      },
      selectTypeOrg(event) {
        this.res.type_org = event.target.value;
      },
      selectTypeLocation(event) {
        this.res.type_location = event.target.value;
      },
      selectTypeRegion(event) {
        this.res.type_region = event.target.value;
      },
      async getRegions() {
        const res = await axios.get(window.location.origin + '/get-regions');
        this.regions = res.data;
      },
      async getDistricts() {
        const res = await axios.get(window.location.origin + '/get-districts?region=' + this.res.region);
        this.districts = res.data;
      },
      async getTypeOrg() {
        const res = await axios.get(window.location.origin + '/get-type-org');
        this.typeOrgs = res.data;
      },
      async getTypeLocation() {
        const res = await axios.get(window.location.origin + '/get-type-location');
        this.typeLocations = res.data;
      },
      async getTypeRegion() {
        const res = await axios.get(window.location.origin + '/get-type-regions');
        this.typeRegions = res.data;
      },
      handleDataFromChild(data) {
        this.res.address = data['address'];
        this.res.location = data['location'];
      },
      async edit() {
        try {
          const response = await axios.put(`api/organization/update/${this.user.id}`, {
              name: this.res.name,
              bin: this.res.bin,
              region: this.res.region,
              district: this.res.district,
              type_org: this.res.type_org,
              type_location: this.res.type_location,
              type_region: this.res.type_region,
              project_capacity: this.res.project_capacity,
              telephone: this.res.telephone,
              admin_name: this.res.admin_name,
              location: this.res.location,
              address: this.res.address,
          });

          this.$store.dispatch('user', response.data.user);
          this.$router.push("/profile");
        } catch (error) {
          // notify.authError(error);
        }
      },
    },
    mounted() {
      this.getRegions();
      this.getDistricts();
      this.getTypeOrg();
      this.getTypeLocation();
      this.getTypeRegion();

      this.res = {
        "type_project" : this.user.type_project,
        "name" : this.user.name ,
        "bin" : this.user.bin ,
        "region" : this.user.region ,
        "district" : this.user.district ,
        "type_org" : this.user.type_org ,
        "type_location" : this.user.type_location ,
        "type_region" : this.user.type_region ,
        "project_capacity" : this.user.project_capacity ,
        "telephone" : this.user.telephone ,
        "admin_name" : this.user.admin_name ,
        "location" : this.user.location ,
        "address" : this.user.address
      }
    }
  };
  </script>
  

<style src="./../../../css/app.css" scoped></style>

<style>
.register_info_block {
  cursor: pointer;
}
.register_button {
  width: max-content;
  font-size: 0.875rem;
  padding: 7px 20px;
  border: none;
  border-radius: 7px;
  background: #2EA263;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
</style>