<template>
    <div class="">
        <Nav />
        <div class="container_teachers min-vh-90 max-content p-5">
            <div class="profile_error">
                <div class="large_text mb-3"> Сообщить об ошибке</div>
                <div class="w-100 h-100 pb-4">
                    <textarea id="message" v-model="problem" class="w-100 h-100 error_input p-3" placeholder="Опишите проблему с которой вы столкнулись"></textarea>
                    <!-- <p class="done_block"  style="width: 100% !important;" v-if="isSend"> Отправлено </p> -->
                </div>
                <div class="mt-4 flex justify-content-center">
                    <button class="teachers_button teacher_cancel mr-2" @click="back"> Вернуться назад</button>
                    <button class="teachers_button" type="submit" @click="sendEmail"> Отправить </button>
                </div>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import Nav from "../../components/Nav";

  export default {
    components: {
      axios,
      Nav
    },
    data() {
      return {
        problem: '',
        isSend: false
      };
    },
    methods: {
        back() {
            this.$router.push('/profile');
        },
        sendEmail() {
            axios.post('api/send-problem', {
                    problem: this.problem
                })
                .then(response => {
                    this.$toast.success(`Сообщение об ошибке успешно отправлено!`)
                    this.problem = '';
                    this.isSend = true;
                })
                .catch(error => {
                    this.$toast.error(error);
                });
        }
    }
  };
  </script>

<style>
.error_input {
    border: 1px solid aliceblue;
    border-radius: 10px;
}
.profile_error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.30) 0%, rgba(3, 17, 30, 0.00) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  padding: 20px 30px;
  margin: 0 auto;
}
</style>
  