<template>
  <div>
    <Nav />

    <div class="container_childs min-vh-90 max-content main_page">
      <div class="main_left">
        <div class="main_current_date">
          <div class="main_current_time"> {{ currentTime }}</div>
          <div class="main_current_day"> {{ currentDay }} </div>
        </div>
        <div class="main_attendance_wrapper">
          <div class="main_attendance_graph w-100 h-100">
            <apexchart type="donut" height="100%" :options="chartsReasonOfMissing.chartOptions" :series="chartsReasonOfMissing.series"></apexchart>
          </div>
          <div class="main_attendance_tables">
            <div class="main_attendance_no mb-3">
              <div class="main_attendance_no_wrapper">
                <div class="gray_sm_text text-right">Отсутствуют</div>
                <div class="main_attendance_amount"> {{ childsWithStatus.absent }} </div>
              </div>
              <div class="main_attendance_by_prop">
                <div class="main_attendance_reason">
                  <div class="main_attendance_reason_title"> Болеют </div>
                  <div class="main_attendance_reason_amount"> {{ childsWithStatus.sick }} </div>
                </div>
                <div class="main_attendance_reason">
                  <div class="main_attendance_reason_title"> В отпуске </div>
                  <div class="main_attendance_reason_amount"> {{ childsWithStatus.weekend }} </div>
                </div>
                <div class="main_attendance_reason">
                  <div class="main_attendance_reason_title"> Без причины </div>
                  <div class="main_attendance_reason_amount"> {{ childsWithStatus.no_reason }} </div>
                </div>
              </div>
            </div>
            <div class="main_attendance_yes">
                <div class="gray_sm_text text-right"> Присутствуют </div>
                <div class="main_attendance_amount"> {{ childsWithStatus.attended }} </div>
            </div>
          </div>
        </div>
        <div class="main_groups_title" style="margin: 3% 0;">Группы</div>

        <div class="main_groups_wrapper">
          <div class="main_groups" v-if="groups.length !== 0">
            <div class="main_groups_blocks">
              <div class="main_groups_block mt-3">
                <div class="normal_text text-left" > Заполненность организации</div>
                <div class="main_progressbar_wrapper flex justify-content-space-between align-items-center">
                  <div class="main_progressbar mr-2 relative">
                    <div class="main_progressbar_filled" :style="filledProgressbar(user.fact_amount, user.project_capacity)"></div>
                  </div>
                  <div class="normal_text">{{ user.fact_amount }} / {{ user.project_capacity }}</div>
                </div>
              </div>
            </div>
            <div class="main_groups_blocks" v-for="(group, j) in groups" :key="j">
              <div class="main_groups_block mt-3">
                <div class="normal_text text-left" > {{ group.name }}</div>
                <div class="main_progressbar_wrapper flex justify-content-space-between align-items-center">
                  <div class="main_progressbar mr-2 relative">
                    <div class="main_progressbar_filled" :style="filledProgressbar(group.childs_with_status, group.childs_amount)"></div>
                  </div>
                  <div class="normal_text">{{ group.childs_with_status }} / {{ group.childs_amount }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main_groups" v-else>
            <div class="main_groups_nothing mb-3">Нет ни одной группы детей</div>
            <button class="teachers_no_button teachers_button" @click="goToGroupsPage()">  Создать группы</button> <!-- <div class="icon_plus"></div> -->
          </div>
        </div>
      </div>
      <div class="main_right">
        <div class="main_teachers_wrapper w-100 mb-3">
          <div class="main_teachers_header">
            <div class="main_groups_title" style="margin: 2% 0;">Воспитатели</div>
            <!-- <div class="slider_arrows">
              <div class="slider_arrow left_arrow" @click="moveSlide($event, 1)" data-slide1="31" data-slide2="31" data-slide3="31"> <img src="./../../../../public/images/arrow_left_slider.svg" alt="arrow_left"> </div>
              <div class="slider_arrow right_arrow" @click="moveSlide($event, -1)" data-slide1="-31" data-slide2="-31" data-slide3="-31"> <img src="./../../../../public/images/arrow_right_slider.svg" alt="arrow_right"> </div>
            </div> -->
          </div>
          <div class="main_teachers w-100 flex" v-if="teachers.length !== 0">
            <!-- <div class="slider_wrapper" id="slider_wrapper"> -->
              <div class="main_teachers_blocks" v-for="(teacher, index) in teachers" :key="index">
                <div class="main_teachers_block">
                  <div class="main_teachers_info">
                    <div class="main_teachers_photo"></div>
                    <div class="main_teachers_prop">
                      <div class="normal_sm_text mb-2"> {{ teacher.name }}</div>
                      <div class="main_teachers_phone"> {{ teacher.telephone }} </div>
                    </div>
                  </div>
                  <div class="main_teachers_group">
                    <div class="gray_sm_text mb-2">Закрепленные группы</div>
                    <div class="main_teachers_group_infos flex align-items-center" v-for="(groupName, i) in teacher.group_names" :key="i"> 
                      <div class="groups_logo"></div>
                      <div class="main_teachers_group_name"> {{ groupName.group_name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <div class="main_groups" v-else>
            <div class="main_groups_nothing mb-3">Нет ни одного воспитателя</div>
            <button class="teachers_no_button teachers_button" @click="goToTeachersPage()">  Добавить воспитателей</button>
          </div>
          <div class="main_childs_filter flex align-items-center">
            <div class="main_childs_statuses flex align-items-center" v-if="checkWidth">
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.missed, 8) " @click="selectTypeOfAttendance(childsWithStatus.missed, 8)"> 
                Не отмечены ( {{ childsWithStatus.missed }} )
              </div>
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.absent + childsWithStatus.attended + childsWithStatus.error, 7)" @click="selectTypeOfAttendance((childsWithStatus.attended + childsWithStatus.absent + childsWithStatus.error), 7)"> 
                Oтмечены ( {{ childsWithStatus.absent + childsWithStatus.attended }} )
              </div>
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.sick, 4)" @click="selectTypeOfAttendance(childsWithStatus.sick, 4)">
                Болеют ( {{ childsWithStatus.sick }} )
              </div>
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.weekend, 5)" @click="selectTypeOfAttendance(childsWithStatus.weekend, 5)"> 
                В отпуске ( {{ childsWithStatus.weekend }} )
              </div>
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.no_reason, 6)" @click="selectTypeOfAttendance(childsWithStatus.no_reason, 6)"> 
                Отсутствуют ( {{ childsWithStatus.no_reason }} )
              </div>
              <div class="main_childs_status gray_text" :class="filterByAttendanceClass(childsWithStatus.attended, 2)" @click="selectTypeOfAttendance(childsWithStatus.attended, 2)"> 
                Присутствуют ( {{ childsWithStatus.attended }} )
              </div>
            </div>
            <div class="main_childs_groups" v-else>
              <select @change.capture="selectTOA($event)" class="w-100" required>
                <option :value="8"> Не отмечены </option>
                <option :value="7"> Oтмечены </option>
                <option :value="4"> Болеют </option>
                <option :value="5"> В отпуске </option>
                <option :value="6"> Отсутствуют </option>
                <option :value="2"> Присутствуют </option>
              </select>
            </div>
            <div class="main_childs_groups">
              <select @change.capture="selectGroup($event)" class="w-100" required>
                <option :value="0"> Все группы </option>
                <option v-for="(group , k)  in (groups)" :key="k" :value="group.id" style="padding: 5px"> {{group.name}} </option>
              </select>
            </div>
          </div>
          <div class="main_childs_table">
            <div class="childs_panel">
              <b-form-input
                class="childs_search"
                v-model="filter"
                type="search"
                placeholder="Поиск"
              ></b-form-input>
              <b-pagination
                class="childs_pagination"
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="my-table"
                hide-goto-end-buttons
                hide-ellipsis
              ></b-pagination>
            </div>
            <div class="childs_table_wrapper">
              <b-table 
                :per-page="perPage"
                :current-page="currentPage"
                :filter="filter" 
                :items="childs" 
                :fields="fields">
              </b-table>
              <div class="home_empty_childs" v-if="childsWithStatus.length == 0" @click="goToChildsPage()">
                <div class="main_groups_nothing mb-3"> Нет ни одного ребенка </div>
                <button class="teachers_no_button teachers_button" @click="goToTeachersPage()"> Добавить детей</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import chartsOptionsReasonOfMissing from "../charts/chart_options_reason_of_missing.json";
import { BTable, BButton, BPagination, BFormInput } from 'bootstrap-vue';
import Nav from "../../components/Nav";
import { mapGetters } from "vuex";
import apexchart from 'vue-apexcharts'
import moment from "moment";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Nav,
    axios,
    moment,
    apexchart,
    BTable,
    BButton,
    BPagination,
    BFormInput
  },
  data() {
    return {
      screenWidth: window.innerWidth,
      childs: [],
      activeIndex: 8,
      perPage: 10,
      currentPage: 1,
      rows: 1,
      filter: null,
      fields: [
        { key: 'id_child', label: 'ФИО', sortable: true, },
        { key: 'id_group', label: 'Группа', sortable: true, },
        { key: 'teachers', label: 'Воспитатели', sortable: true, },
        { key: 'time', label: 'Время', sortable: true, },
      ],
      chartsOptionsReasonOfMissing: chartsOptionsReasonOfMissing,
      selectedGroup: 0,
      typeOfAttendance: 8,
      childsWithStatus: '',
      currentDayAttendance: '',
      teachers: '',
      groups: '',
      currentTime: '00:00',
      currentDay: '2024-01-01'
    };
  },
  watch: {
    'typeOfAttendance': function() {
      this.getChilds();
    },
    'selectedGroup': function() {
      this.getChilds();
      this.getChildsWithStatus();
    }
  },
  computed: {
    ...mapGetters(["user"]),
    checkWidth() {
      if (this.screenWidth > 1280) return true;
    },
    currentDayAttend() {
      return this.childsWithStatus;
    },
    chartsReasonOfMissing() {
      this.chartsOptionsReasonOfMissing.series = [this.currentDayAttend['missed'], this.currentDayAttend['absent'], this.currentDayAttend['attended']];
      // this.chartsOptionsReasonOfMissing.series = [this.currentDayAttend['missed'], this.currentDayAttend['absent'], this.currentDayAttend['attended']];
      this.chartsOptionsReasonOfMissing.chartOptions = {
        chart: {
          type: "donut"
        },
        plotOptions: {
          pie: {
            donut: {
              size: '90%',
              labels: {
                show: true,
                total: {
                  show: true,
                  showAlways: true,
                  label: 'Всего:',
                  fontSize: 32,
                  color: '#666666',
                  fontWeight: '700',
                }
              }
            }
          }
        },
        dataLabels: {
          enabled: false,
        },
        colors: ['#B1B1B7', '#EDA774', '#4F81BD'],
        labels: ["Пропуск", "Отсутствуют", "Присутствуют"],
        legend: {
          show: false
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: '100%'
            },
            legend: {
              show: false
            }
          },
        }]
      }
      return this.chartsOptionsReasonOfMissing;
    },
  },
  methods: {
    goToGroupsPage() {
      this.$router.push("/groups");
    },
    goToTeachersPage() {
      this.$router.push("/teachers");
    },
    goToChildsPage() {
      this.$router.push("/childs");
    },
    filledProgressbar (childs, allChilds) {
      let percent = Number(childs/allChilds * 100);

      if (percent > 100) percent = 100;
      return "width:" + percent + "%;"
    },
    filterByAttendanceClass(amount, type_of_attendance) {
      if (amount == 0 ) {
        return "gray_text";
      } else {
        if ( this.activeIndex == type_of_attendance ) {
          return "clicked"
        } else {
          return "green_text";
        }
      }
    },
    selectTypeOfAttendance(amount, typeOfAttendance) {
      if (amount !== 0) {
        this.activeIndex = typeOfAttendance;
        this.typeOfAttendance = typeOfAttendance;
      }
    },
    selectGroup(event) {
      this.selectedGroup = event.target.value;
    },
    selectTOA(event) {
      this.typeOfAttendance = event.target.value;
    },
    async getChilds() {
      const res = await axios.get('/api/get-childs-statused?type_of_attendance=' + this.typeOfAttendance + '&id_group=' + this.selectedGroup);
      this.childs = res.data;
      this.rows = this.childs.length;
    },
    async getTeachers() {
      const res = await axios.get('/get-teachers');
      
      if ( res.data.error == 'No user found!') {
        location.reload();
      }
      this.teachers = res.data;
    },
    async getGroups() {
      const res = await axios.get('/api/get-org-groups');
      this.groups = res.data;
    },
    async getChildsWithStatus() {
      const res = await axios.get('/api/get-childs-with-status?id_group=' + this.selectedGroup);
      this.childsWithStatus = res.data;

    },
    updateCurrentTime() {
      this.currentTime = moment().format('HH:mm');
    },
    updateCurrentDay() {
      this.currentDay = moment().format('DD.MM.YYYY');
    },
    updateScreenWidth() {
      this.screenWidth = window.innerWidth;
    },
    // moveSlide(e, direct) {
    //   var slider = document.getElementById('slider_wrapper');
    //   var sliderPosition = window.getComputedStyle(slider).getPropertyValue('left');

    //   var slideWidth = slider.firstElementChild.clientWidth;
    //   var marginWidth = window.getComputedStyle(slider.firstElementChild).getPropertyValue('margin-right');
    //   var paddingWidth = window.getComputedStyle(slider.firstElementChild).getPropertyValue('padding-right');

    //   var amountOfChild = slider.children.length;
    //   var lastChildPosition = slider.clientWidth * -1 + (amountOfChild - 4) * (slideWidth + parseFloat(marginWidth));

    //   console.log(sliderPosition, lastChildPosition);
    //   if ( sliderPosition == 0 && direct == 1) {
    //       slider.style.left = lastChildPosition;
    //   } else if (sliderPosition == lastChildPosition) {
    //       slider.style.left = 0;
    //   } else {
    //       var movedWidth = parseFloat(sliderPosition) + ((slideWidth + parseFloat(marginWidth) + parseFloat(paddingWidth)) * direct) + 'px';
    //       slider.style.left = movedWidth;
    //   }
    // }
  },
  async mounted() {
    localStorage.setItem('token', localStorage.getItem('token'));
    this.updateCurrentTime();
    this.updateCurrentDay();
    await this.getTeachers();
    await this.getChilds();
    await this.getGroups();
    await this.getChildsWithStatus();

    window.addEventListener('resize', this.updateScreenWidth);
    setInterval(this.updateCurrentTime, 1000);
  },
  beforeUnmount() {
    window.removeEventListener('resize', this.updateScreenWidth);
  },
};

</script>

<style>
.home_empty_childs {
  padding: 20px;
}
.clicked {
  background-color: #2EA263;
  color: #fff !important;
  border-radius: 10px;
  border: none;
}
.main_page {
  height: auto;
  display: flex;
}
.main_left {
  width: 30%;
}
.main_right {
  width: 69%;
  margin-left: 1%;
}
.main_current_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 3%;
  border-radius: 10px;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.main_current_time {
  font-size: 6rem;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #434656;
}
.main_current_day {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #434656B2;
}
.main_attendance_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.main_childs_table {
  height: 54%;
  margin-top: 2%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.main_attendance_graph {
  width: 60%;
}
.main_attendance_tables {
  width: 40%;
}
.main_attendance_no_wrapper {
  padding: 5px;
  border-bottom: 1px solid #43465640;
}
.main_attendance_no {
  border-radius: 10px;
  border-left: 4px solid #C79F25;
  box-shadow: 0px 1px 8px -1px #00000033;
}
.main_attendance_amount {
  font-size: 2rem;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: right;
}
.main_attendance_yes {
  border-radius: 10px;
  border-left: 4px solid #2EA263;
  padding: 5px;
  box-shadow: 0px 1px 8px -1px #00000033;
}
.main_attendance_title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
}
.main_progressbar {
  position: relative;
  width: 82%;
  height: 16px;
  border-radius: 10px;
  background-color: #C3D3DC;
}
.main_progressbar_filled {
  height: 16px;
  position: absolute;
  background-color: #2EA263;
  border-radius: 10px;
}
.main_groups {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.main_groups_title {
  display: flex;
  align-items: center;
  height: 6%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #434656B2;
}
.main_groups_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}
.main_attendance_by_prop {
  padding: 0 10px;
}
.main_attendance_reason {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.main_attendance_reason_title {
  color: #434656B2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.main_attendance_reason_amount {
  color: #434656;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
}
.main_teachers_header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.main_teachers {
	/* position: relative; */
	/* height: 250px !important; */
	overflow: scroll;
  height: 25%;
  margin-bottom: 2%;
}
.slider_wrapper {
	display: flex;
  flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
}
.main_teachers_blocks {
  min-width: 23.5%;
  margin-right: 1.5%;
  display: flex;
  flex-direction: row;
}
.main_teachers_block {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.main_teachers_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #43465640;
  padding: 10px;
}
.main_teachers_photo {
  background-image: url(./../../../../public/images/teacher.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 80px;
  margin-right: 10px;
}
.main_teachers_phone {
  color: #434656B2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.main_teachers_group {
  padding: 10px;
}
.main_teachers_group_info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.main_teachers_group_title {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.main_teachers_group_name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.main_teachers_prop {
  width: 60%;
}
.main_groups_nothing {
  color: #434656B2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.main_childs_filter {
  height: 5%;
  justify-content: space-between;
}
.main_childs_status {
  cursor: pointer;
  padding: 5px;
  margin: 4px;
  border: 1px solid #EFF3F5;
  /* margin-right: 5px; */
}
.main_childs_status:hover{
  box-sizing: border-box;
  color: #2EA263;
  border-radius: 10px;
  border: 1px solid #2EA263;
}
.main_childs_groups {
  width: 20%;
  padding: 10px;
}
.slider_arrows {
  display: flex;
}
.slider_arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #434656;
  margin-left: 20px;
}
</style>
