<template>
    <div class="teacher_info_block">
        <div class="teacher_photo"></div>
        <div class="teacher_info" v-if="!isEdited">
            <div class="teacher_info_name mb-2"> {{ employeeInfo.name }}</div>
            <div class="teacher_information"> <div class="teacher_info_titles"> ИИН: {{ employeeInfo.iin }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Телефон: {{ employeeInfo.telephone }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Подразделение: {{ employeeInfo.job }}</div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Email: {{ employeeInfo.email }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Дата рождения: {{ employeeInfo.birth_date }}</div> </div>
        </div>
        <div class="teacher_info_edit" v-if="isEdited">
            <div class="teacher_edit_block">
                <div >ФИО</div> 
                <input type="text" v-model="employeeInfo.name">
            </div>
            <div class="teacher_edit_block">
                <div >ИИН</div> 
                <input type="number" v-model="employeeInfo.iin">
                <p class="errors_block" style="width: 80%;" v-if="errorsEmployeeEdit['iin']"> {{ errorsEmployeeEdit['iin'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Телефон:</div> 
                <input type="number" v-model="employeeInfo.telephone">
                <p class="errors_block" style="width: 80%;" v-if="errorsEmployeeEdit['telephone']"> {{ errorsEmployeeEdit['telephone'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Подразделение:</div> 
                <input type="tex" v-model="employeeInfo.job">
            </div>
            <div class="teacher_edit_block">
                <div >Email:</div> 
                <input type="email" v-model="employeeInfo.email">
                <p class="errors_block" style="width: 80%;" v-if="errorsEmployeeEdit['email']"> {{ errorsEmployeeEdit['email'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Дата рождения:</div> 
                <input type="date" v-model="employeeInfo.birth_date">
                <p class="errors_block" style="width: 80%;" v-if="errorsEmployeeEdit['birth_date']"> {{ errorsEmployeeEdit['birth_date'] }}</p>
                <p class="errors_block" style="width: 80%;" v-if="errorsEmployeeEdit['errors']"> {{ errorsEmployeeEdit['errors'] }}</p>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import moment from "moment";

  export default {
    name: "employeeInfo",
    props: {
        isEdited: Boolean,
        employeeInfo: Object,
        errorsEmployeeEdit: Object,
    },
    components: {
    },
    computed: {
        placeholderName() {
            return this.employeeInfo.name;
        }
    },
    methods: {
        
    },
    mounted() {
    }
  };
  </script>

  <style>
    .teacher_info_edit {
        width: calc(100% - 200px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-evenly;
    }
    .teacher_edit_block {
        width: 33%;
        margin-bottom: 10px;
    }
    .teacher_edit_block div {
        color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .teacher_edit_block input {
        width: 80%;
        color: var(--text-color, #434656);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #D5DBE2;
        background: #FFF;
    }
  </style>
  