<template>
    <div>
        <Nav />
        <div class = "container_admin min-vh-90 max-content">
            
            <div class="admin_header w-100 flex justify-content-space-between align-items-center mb-4">
                <div class="flex">
                    <div class="admin_button mr-2" :class="{ 'admin_button_clicked': activeIndex === 0 }" @click="filterOrg(0, 0)"> Все организации</div>
                    <div class="admin_button"      :class="{ 'admin_button_clicked': activeIndex === 1 }" @click="filterOrg(1, 1)"> Заблокированные организации</div>
                </div>

                <div class="childs_add admin_add_organization_btn flex align-items-center" @click="showPopupOrganization()">
                  <div class="icon_plus"></div>
                  <div class=""> Добавить организацию </div>
                </div>
            </div>

            <div class="admin_add_organization_wrapper" v-if="isShowAddOrganization">
                <form action="" class="" @submit.prevent="addOrganization">

                    <div class="flex justify-content-space-between align-items-center admin_add_organization_header">
                        <div class="normal_text">Дообавить новую организацию</div>
                        <div class="icon_close" @click="closePopup"></div>
                    </div>
                    <div class="admin_add_organization">
                        <div class="admin_add_organization_info">
                            <div class="gray_sm_text">Менеджер</div> 
                            <input class="admin_organization_input" type="text" disabled :placeholder="user.name">
                        </div>
                        <div class="admin_add_organization_info">
                            <div class="gray_sm_text" >БИН</div>
                            <input class="admin_organization_input" type="text" v-model="newOrganization.bin" required>
                        </div>
                        <div class="admin_add_organization_info">
                            <div class="gray_sm_text" >Наименование</div>
                            <input class="admin_organization_input" type="text" v-model="newOrganization.org_name" required>
                        </div>
                        <div class="admin_add_organization_info">
                            <div class="gray_sm_text" >Телефон</div>
                            <input class="admin_organization_input" type="text" v-model="newOrganization.telephone" required>
                        </div>
                        <div class="admin_add_organization_info">
                            <div class="gray_sm_text" >Примечание</div>
                            <input class="admin_organization_input" style="height: 60px;" type="text" v-model="newOrganization.notes" required>
                        </div>
                        <LoadingButton
                          class="reset_password_button my-4" 
                          text="Сохранить"
                        />
                    </div>
                </form>
            </div>
            
            <div class="admin_table">
                <div class="">
                    <EditableTable
                      v-model="filteredOrganizations"
                      :fields="fields"
                      :isBlocked = "isBlocked"
                      :rows = "rows"
                      @submit="handleUpdateUser($event)"
                      @filter="handleFilterOrganization($event)"
                      @remove="handleRemoveUser($event)"
                    ></EditableTable>
                </div>
            </div>

        </div>
    </div>
  </template>
  
<script>
import { mapGetters } from "vuex";
import Nav from "../../../components/Nav";
import EditableTable from "../../../components/EditableTable";
import LoadingButton from "../../../components/LoadingButton";
  
export default {
    name: "Groups",
    components: {
        Nav,
        EditableTable,
        LoadingButton
    },
    data() {
      return {
            activeIndex: 0,
            isBlocked: 0,
            rows: 0,
            error: false,
            isShowAddOrganization: false,
            filteredOrganizations: [],
            fields: [
                { key: "selectRow", label: "" },
                { key: 'manager', label: 'Менеджер', sortable: true },
                { key: 'bin', label: 'БИН', sortable: true, type: "number", required: true, pattern: ".+@bootstrapvue\\.com" },
                { key: 'org_name', label: 'Организация', sortable: true, type: "text", required: true  },
                { key: 'telephone', label: 'Телефон', sortable: true, type: "number", required: true  },
                { key: 'added_date', label: 'Дата', sortable: true, required: true },
                { key: 'notes', label: 'Примечание', width: '20%', sortable: true, type: "text", required: true },
                { key: 'edit', label: '', type: "edit"}
            ],
            newOrganization: {
                manager: "",
                bin: "",
                org_name: "",
                telephone: "",
                notes: "",
            },
      };
    },
    watch: {
        isBlocked() {
            this.getFilteredOrganization();
        }
    },
    computed: {
        ...mapGetters(["user"]),
    },
    methods: {
        async handleFilterOrganization(searchedOrganization) {
            if (searchedOrganization != '') {
                await this.getFilteredOrganization();
                let filteredOrganizations = this.filteredOrganizations.filter(organization => {
                    return  String(organization.bin).toLowerCase().includes(searchedOrganization.toLowerCase()) || 
                            String(organization.manager).toLowerCase().includes(searchedOrganization.toLowerCase()) ||
                            String(organization.org_name).toLowerCase().includes(searchedOrganization.toLowerCase()) || 
                            String(organization.notes).toLowerCase().includes(searchedOrganization.toLowerCase()) ||
                            String(organization.telephone).toLowerCase().includes(searchedOrganization.toLowerCase()) ||
                            organization.added_date.includes(searchedOrganization.toLowerCase()) 
                })
                
                this.filteredOrganizations = filteredOrganizations;

                if ( filteredOrganizations ) {
                    this.rows = filteredOrganizations.length;
                } else {
                    this.rows = 0;
                }
            } else {
                this.getFilteredOrganization();
            }
        },
        async handleUpdateUser(organization) {
            if (organization.id) {
                const response = await axios.post(`/api/admin/organizations/update/${organization.id}`, { organization });
                this.$toast.success("Организация успешно отредактирована!");
                this.getFilteredOrganization();
            }
        },
        async handleRemoveUser(organization) {
            if (organization.length > 0) {
              await organization.map(async (item) => {
                const response = await axios.post(`/api/admin/organizations/delete/${item.id}`);
                this.$toast.success("Выбранные организации успешно удалены!");
                this.getFilteredOrganization();
              })
            } else {
                const response = await axios.post(`/api/admin/organizations/delete/${organization.id}`);
                this.$toast.success("Выбранная организация успешно удалена!");
                this.getFilteredOrganization();
            }
        },
        editRowHandler(data) {
          this.filteredOrganizations[data.index].isEdit = !this.filteredOrganizations[data.index].isEdit;
        },
        filterOrg(index, type) {
            this.activeIndex = index;
            this.isBlocked = type;
        },
        addOrganization(e) {
            this.error = false;

            if (this.newOrganization.bin.length != 12) {
                this.error = true;
                this.$toast.error("Неправильный формат БИH");
            }
            if (this.newOrganization.telephone.length != 11) {
                this.error = true;
                this.$toast.error("Неверный номер телефона");
            }
            if (!this.newOrganization.telephone.startsWith("87")) {
                this.error = true;
                this.$toast.error("Неверный формат телефона");
            }


            if ( this.error ) {
              e.preventDefault();
              return;
            }

            axios.post(`/api/admin/add-organization`, {
                manager: this.user.id,
                bin: this.newOrganization.bin,
                org_name: this.newOrganization.org_name,
                telephone: this.newOrganization.telephone,
                notes: this.newOrganization.notes,
              })
              .then(response => {
                if (response.status == 500) {
                    this.$toast.error(response.data.errors);
                } else {
                    this.$toast.success("Организация успешно добавлена!");
                    this.getFilteredOrganization();
                    this.isShowAddOrganization = !this.isShowAddOrganization;
                }
              })
              .catch(error => {
                    this.$toast.error(error.response.data.errors);
              });
        },
        showPopupOrganization() {
            this.isShowAddOrganization = !this.isShowAddOrganization;
        },
        closePopup() {
            this.isShowAddOrganization = !this.isShowAddOrganization;
        },
        async getFilteredOrganization() {
            try {
                const res = await axios.get('/api/admin/get-filtered-organizations?is_blocked=' + this.isBlocked);

                this.filteredOrganizations = res.data;
                this.filteredOrganizations = this.filteredOrganizations.map(item => ({...item, isEdit: false}));

                if ( this.filteredOrganizations) {
                    this.rows = this.filteredOrganizations.length;
                } else {
                    this.rows = 0;
                }
            } catch {
                location.reload();
            }
        }
    },
    mounted() {
        localStorage.setItem('token', localStorage.getItem('token'));
    },
    created() {
        this.getFilteredOrganization();
    }
};
</script>
  
<style>

.container_admin {
    width: 100%;
    padding: 20px;
}
.admin_table {
    width: 100%;
    border-radius: 10px;
    background: #EFF3F5;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.admin_panel {
    padding: 10px 20px;
}
.admin_add_organization {
    margin-right: 0;
}
.admin_button {
    cursor: pointer;
    color: var(--main-color, #2EA263);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    padding: 10px 15px;
    border: 1px solid var(--main-color, #2EA263);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.admin_button_clicked {
    color: #FFF;
    background: var(--main-color, #2EA263);
}
.admin_add_organization_wrapper {
    position: absolute;
    right: 20px;
    width: 25%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 16px -1px rgba(0, 0, 0, 0.20);
    z-index: 100;
}
.admin_add_organization_header {
    padding: 10px 20px;
    border-bottom: 1px solid #D9DFE6;
}
.admin_add_organization {
    padding: 20px;
}
.admin_add_organization_info {
    display: flex;
    flex-direction: column;
}
.admin_organization_input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #D5DBE2;
    background: #FFF;
}
</style>
  