<template>
  <div>
      <div class="privacy">
        <h1 class="text-align-center"> Политика конфиденциальности </h1>
        <h6 class="ml-5" >Дата вступления в силу: 27.09.2023 г </h6>
        <div style="text-align: justify;">
            <span class="ml-5"></span> Добро пожаловать в приложение "Balasan" (далее "Приложение"), разработанное ТОО "Balasan" (далее -Компания). Мы ценим ваше доверие и стремимся обеспечить максимальную конфиденциальность и безопасность ваших данных. Ниже мы разъясним, как мы собираем, используем и защищаем  личные данные лиц, пользующихся услугами Приложения (далее – Пользователи).
            Целью настоящей Политики является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
            Отношения, связанные со сбором, хранением, распространением и защитой информации о Пользователях Приложения, регулируются настоящей Политикой, иными официальными документами Компании и действующим законодательством Республики Казахстан.
        </div>
        <br>
        <h4 class="text-align-center">Сбор и использование информации</h4>
        <div style="text-align: justify;">
            1. Геолокация: Наше приложение запрашивает доступ к геолокации устройства пользователя с целью проверки находиться ли пользователь в определенной локации для разблокировки функций. Геолокационные данные используются исключительно для проверки позиции относительно садика или секции в данный момент и не передаются третьим лицам.
            <br>
            2. Отметка присутствия через сканирование лица: Приложение использует технологию сканирования лица для идентификации человека. Эти данные используются исключительно для целей учета присутствия посещения и не передаются третьим лицам.
            <br>
            3. Управление отсутствиями: Если человек отсутствует в группе, сотрудник может указать причину отсутствия. Эта информация также используется только в целях учета отсутствий внутри организации, уполномоченными сотрудниками организации, и не разглашается.
            <br>
            4. Безопасность и конфиденциальность: Мы применяем современные меры безопасности для защиты ваших данных от несанкционированного доступа. Данные о табелируемых людях хранятся в зашифрованной форме и доступна только уполномоченным сотрудникам.
            <br>
            5. Регистрация Пользователя в Приложении доступна только на стороне учетной системы организации, чьи сотрудники в дальнейшем являются пользователями Приложения.
            <br>
            6. Персональные данные о табелируемых сотрудниках доступны в Приложении уполномоченным к табелириованию пользователям, только после предоставления этих данных из учетной системы организации. Результаты табелирования из Приложения в дальнейшем доступны в учетной системе организации.
            <br>
            7. Персональные данные Пользователей  и табелируемых сотрудников, включают в себя: имя, фамилия, отчество и фотография.
            <br>
            8. Обработка персональных данных осуществляется на основе принципов: <br>
                <span class="ml-5"></span> а) законности целей и способов обработки персональных данных; <br>
                <span class="ml-5"></span> б) добросовестности; <br>
                <span class="ml-5"></span> в) соответствия целей обработки персональных данных целям, заранее определенным в договоре организации и Компании; <br>
                <span class="ml-5"></span> г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных. <br>
            9. Персональные данные Пользователей и табелируемых сотрудников не передаются никаким другим третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой.
        </div>
        <h4 class="text-align-center mt-4"> Обратная связь и обращение к нам </h4>
        <div style="text-align: justify;"> 
            <span class="ml-5"></span> Eсли у вас есть вопросы или замечания относительно нашей политики конфиденциальности или обработки данных, пожалуйста, свяжитесь с нами по адресу arlanv.tech@gmail.com
        </div>
        <h4 class="text-align-center mt-4"> Изменения в политике конфиденциальности </h4>
        <div style="text-align: justify;">
            <span class="ml-5"></span> Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. В случае существенных изменений, мы уведомим вас об этом через приложение или другими доступными средствами.
        </div>
        <h6 class="text-align-center mt-4">Спасибо за использование нашего приложения. Мы ценим ваше доверие и делаем все возможное, чтобы обеспечить безопасность и конфиденциальность ваших данных.</h6>
        <div class="mt-4" style="text-align: left;">
            ТОО "Balasan" <br>
            город Астана, улица Кайым Мухамедханова 17, офис 172. <br>
            arlanv.tech@gmail.com <br>
        </div>
      </div>
  </div>
</template>
  
<script>
export default {
  name: "Privacy",
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
  },
  mounted () {
  }
};
</script>
  
<style>
.privacy {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    margin: 50px;
    padding: 50px;
    line-height: 24px;
}
</style>
    
  
    