<template>
    <article>
      
        <div class="admin_panel flex justify-content-space-between">
            <b-form-input
                class="childs_search"
                v-model="searchOrganization"
                type="search"
                placeholder="Поиск"
            ></b-form-input>

            <div class="flex"> <!-- action-container -->
                <div class="">
                    <b-pagination
                    class="childs_pagination"
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    hide-goto-end-buttons
                    hide-ellipsis
                    last-number
                    ></b-pagination>
                </div>
                <b-button class="ml-2" variant="danger" @click="openDialogOrganizations = true">
                    Удалить выбранные
                </b-button>
            </div>
        </div>

        <b-modal
            id="modal-1"
            v-model="openDialogOrganizations"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="removeRowsHandler"
        >
            <p class="my-4"> Вы уверены, что хотите удалить выбранные организации ?</p>
        </b-modal>
        
        <b-modal
            id="modal-1"
            v-model="openDialogOneOrganization"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="removeRowHandler(indexOrganization)"
        >
            <p class="my-4"> Вы уверены, что хотите удалить выбранную организацию ?</p>
        </b-modal>

        <b-table class="b-table" :items="tableItems" :fields="fields" :per-page="perPage" :current-page="currentPage" fixed>
            <template v-for="(field, index) in fields" #[`cell(${field.key})`]="data">
                <b-form-datepicker
                    v-if="field.type === 'date' && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                ></b-form-datepicker>

                <b-form-select
                    v-else-if="field.type === 'select' && tableItems[data.index].isEdit"
                    :key="index"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                    :options="field.options"
                ></b-form-select>
                <b-form-checkbox
                    v-else-if="field.key === 'selectRow'"
                    :checked="tableItems[data.index].isSelected"
                    :key="index"
                    @change="selectRowHandler(data)"
                ></b-form-checkbox>
                <div class="table_edit_wrapper relative" :key="index" v-else-if="field.type === 'edit'">
                    <div class="icon_three_dots" @click="openEditPopup($event, data)"></div>
                    <div class="show_edit_wrapper">
                        <div class="relative">
                            <div class="close_admin_edit_wrapper" @click="closeEditOrganizationPopup()" v-if="isClosePopup">x</div>
                        </div>
                        <b-button 
                            class="light_xs_text admin_buttons"
                            @click="editRowHandler(data, field)" 
                            :disabled="disableButton(data)"
                        >
                            <span class="w-100 admin_edit_button" v-if="!tableItems[data.index].isEdit"> Редактировать</span>
                            <span class="w-100 admin_done_button" v-else> Готово </span>
                        </b-button>
                        <b-button
                            v-if="!tableItems[data.index].isEdit"
                            class="admin_buttons admin_block_button light_xs_text"
                            @click="editRowHandler(data, { type: 'block'})"
                        >
                            {{ getIsBlocked }}
                        </b-button>
                        <b-button
                            v-if="!tableItems[data.index].isEdit"
                            class="admin_buttons admin_delete_button light_xs_text"
                            @click="indexOrganization = data.index , openDialogOneOrganization = true"
                        >
                            Удалить
                        </b-button>
                    </div>
                </div>
                <b-form-input
                    v-else-if="field.type && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @blur="(e) => inputHandler(e, data.index, field)"
                    :required="field.required"
                    :pattern="field.pattern"
                    :state="tableItems[data.index].validity[field.key]"
                ></b-form-input>
                <span :key="index" v-else>{{ data.value }}</span>
            </template>
        </b-table>
    </article>
  </template>
  
  <script>

import { mapGetters } from "vuex";
import { BootstrapVue, BTable, BButton, BPagination, BFormInput, BFormDatepicker, BModal, BFormCheckbox } from 'bootstrap-vue';

  export default {
    name: "EditableTable",
    components: {
        BootstrapVue,
        BTable,
        BModal,
        BButton,
        BPagination,
        BFormInput,
        BFormDatepicker,
        BFormCheckbox,
    },
    props: {
      isBlocked: Number,
      value: Array,
      fields: Array,
      rows: Number,
    },
    data() {
      return {
        perPage: 10,
        currentPage: 1,
        searchOrganization: null,
        tableItems: this.mapItems(this.value),
        openDialogOrganizations: false,
        openDialogOneOrganization: false,
        isClosePopup: false,
      };
    },
    watch: {
      value(newVal) {
        this.tableItems = this.mapItems(newVal);
      },
      'searchOrganization' : function() {
        this.filterOrganization();
      }
    },
    computed: {
        ...mapGetters(["user"]),
        getIsBlocked() {
            if (this.isBlocked == 1) {
                return "Разблокировать";
            } else {
                return "Заблокировать";
            }
        }
    },
    methods: {
      filterOrganization() {
        this.$emit('filter', this.searchOrganization);
      },
      closeEditOrganizationPopup() {
        this.isClosePopup = true;
        const elements = document.getElementsByClassName("show_edit_wrapper");
          
        const blockElements = Array.from(elements).filter((element) => {
          return element.style.display == "block";
        });

        if(blockElements){
          if (blockElements.length != 0 && blockElements[0].style) {
            blockElements[0].style.display = "none";
          }
        }
      },
      editRowHandler(data, field) {
        if ( field.type == 'block' ) {
            if ( this.tableItems[data.index]['is_blocked'] == 0) {
                this.tableItems[data.index]['is_blocked'] = 1;
            } else {
                this.tableItems[data.index]['is_blocked'] = 0;
            }
            this.closeEditOrganizationPopup();
            this.$emit("submit", this.tableItems[data.index]);
        } else {
            this.isClosePopup = !this.isClosePopup;
            
            if (this.tableItems[data.index].isEdit) {
                this.closeEditOrganizationPopup();
                this.$emit("submit", this.tableItems[data.index]);
            }
            
            this.tableItems[data.index].isEdit = !this.tableItems[data.index].isEdit;
            this.tableItems[data.index].validity = {};
            this.$set(this.tableItems, data.index, this.tableItems[data.index]);
        }
      },
      inputHandler(e, index, field) {
        if (!e.target.validity.valid) {
          this.tableItems[index].validity[field.key] = false;
          this.$set(this.tableItems, index, this.tableItems[index]);
        } else {
          if (field.required || field.patter) {
            this.tableItems[index].validity[field.key] = true;
          }
          this.tableItems[index][field.key] = e.target.value;
          this.$set(this.tableItems, index, this.tableItems[index]);
          this.$emit("input", this.tableItems);
        }
      },
      removeRowHandler(index) {
        this.$emit("remove", this.tableItems[index]);
      },
      removeRowsHandler() {
        const selectedItems = this.tableItems.filter((item) => 
          item.id_manager == this.user.id && item.isSelected
        );

        if (selectedItems.length != 0 ) {
          this.tableItems = this.tableItems.filter((item) => {
            !item.isSelected;
          });

          this.$emit("input", this.tableItems);
          this.$emit("remove", selectedItems);
        }
      },
      selectRowHandler(data) {
        this.tableItems[data.index].isSelected = !this.tableItems[data.index]
          .isSelected;
      },
      disableButton(data) {
        return Object.values(data.item.validity).some(valid => !valid);
      },
      openEditPopup(event, data) {
          if ( data.item.id_manager == this.user.id) {
            this.isClosePopup = true;
            const elements = document.getElementsByClassName("show_edit_wrapper");
            
            const blockElements = Array.from(elements).filter((element) => {
              return element.style.display == "block";
            });
            if(blockElements){
              if (blockElements.length != 0 && blockElements[0].style) {
                blockElements[0].style.display = "none";
              }
            }
            if (event.target.nextSibling.nextSibling) {
              event.target.nextSibling.nextSibling.style.display = "block";
            }
          }
      },
      mapItems(data) {
        return data.map((item, index) => ({
          ...item,
          isEdit: this.tableItems[index] ? this.tableItems[index].isEdit : false,
          isSelected: this.tableItems[index]
            ? this.tableItems[index].isSelected
            : false,
          validity: this.tableItems[index] ? this.tableItems[index].validity : {},
        }));
      },
    },
  };
  </script>
  <style>
  .action-container {
    margin-bottom: 10px;
  }
  .action-container button {
    margin-right: 5px;
  }
  .delete-button {
    margin-left: 5px;
  }
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
  }
  header {
    height: auto;
  }
  .show_edit_wrapper {
    display: none;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    fill: #FFF;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    z-index: 10;
  }
  .close_admin_edit_wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0;
    float: right;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: rgb(253, 95, 95);
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .admin_buttons {
    width: 100%;
    background-color: #fff;
    border: none;
  }
  .admin_edit_button {
    color: #2D9CDB;
    border: 1px solid transparent;
  }
  .admin_block_button {
    color: #F2994A;
    border: 1px solid transparent;
  }
  .admin_delete_button {
    color: #EB5757;
    border: 1px solid transparent;
  }
  .admin_done_button {
    color: green;
  }
  .admin_buttons:hover .admin_edit_button{
    color: #2D9CDB;
  }
  .admin_buttons:hover .admin_done_button{
    color: green;
  }
  .admin_buttons:hover .admin_block_button{
    color: #F2994A;
  }
  .form-control {
    height: max-content;
  }
  </style>