<template>
    <article>
      
        <div class="admin_panel flex justify-content-space-between">
            <b-form-input
                class="childs_search"
                v-model="searchQuestion"
                type="search"
                placeholder="Поиск"
            ></b-form-input>

            <div class="flex">
                <div class="">
                    <b-pagination
                    class="childs_pagination"
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    hide-goto-end-buttons
                    hide-ellipsis
                    last-number
                    ></b-pagination>
                </div>
            </div>
        </div>

        <b-table class="b-table" :items="tableItems" :fields="fields" :per-page="perPage" :current-page="currentPage" fixed>
            <template v-for="(field, index) in fields" #[`cell(${field.key})`]="data">
                <b-form-datepicker
                    v-if="field.type === 'date' && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                ></b-form-datepicker>

                <b-form-select
                    v-else-if="field.type === 'select' && tableItems[data.index].isEdit"
                    :key="index"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                    :options="field.options"
                ></b-form-select>
                <b-form-checkbox
                    v-else-if="field.key === 'selectRow'"
                    :checked="tableItems[data.index].isSelected"
                    :key="index"
                    @change="selectRowHandler(data)"
                ></b-form-checkbox>
                <div class="table_edit_wrapper relative" :key="index" v-else-if="field.type === 'edit'">
                    <div class="icon_three_dots" @click="openEditPopup($event, index)"></div>
                    <div class="show_edit_wrapper">
                        <div class="relative">
                            <div class="close_admin_edit_wrapper" @click="closeEditOrganizationPopup()" v-if="isClosePopup">x</div>
                        </div>
                        <b-button
                            v-if="!tableItems[data.index].isEdit && typeOfQuestion == 0"
                            class="admin_buttons admin_block_button light_xs_text"
                            @click="editRowHandler(data, { type: 'waiting'})"
                        >
                            В обработке
                        </b-button>
                        <b-button
                            v-if="!tableItems[data.index].isEdit"
                            class="admin_buttons admin_done_button light_xs_text"
                            @click="editRowHandler(data, { type: 'done'})"
                        >
                            Обработан
                        </b-button>
                    </div>
                </div>
                <b-form-input
                    v-else-if="field.type && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @blur="(e) => inputHandler(e, data.index, field)"
                    :required="field.required"
                    :pattern="field.pattern"
                    :state="tableItems[data.index].validity[field.key]"
                ></b-form-input>
                <span :key="index" v-else>{{ data.value }}</span>
            </template>
        </b-table>
    </article>
  </template>
  
  <script>

  import { mapGetters } from "vuex";
  import { BootstrapVue, BTable, BButton, BPagination, BFormInput, BFormDatepicker, BModal, BFormCheckbox } from 'bootstrap-vue';

  export default {
    name: "EditableQuestionTable",
    components: {
        BootstrapVue,
        BTable,
        BModal,
        BButton,
        BPagination,
        BFormInput,
        BFormDatepicker,
        BFormCheckbox,
    },
    props: {
      typeOfQuestion: Number,
      value: Array,
      fields: Array,
      rows: Number
    },
    data() {
      return {
        perPage: 10,
        currentPage: 1,
        searchQuestion: '',
        tableItems: this.mapItems(this.value),
        openDialogOrganizations: false,
        openDialogOneOrganization: false,
        isClosePopup: false,
      };
    },
    watch: {
      value(newVal) {
        this.tableItems = this.mapItems(newVal);
      },
      'searchQuestion': function () {
        this.filterQuestion();
      }
    },
    computed: {
        ...mapGetters(["user"]),
    },
    methods: {
      filterQuestion() {
        this.$emit('filter', this.searchQuestion);
      },
      closeEditOrganizationPopup() {
        this.isClosePopup = true;
        const elements = document.getElementsByClassName("show_edit_wrapper");
          
        const blockElements = Array.from(elements).filter((element) => {
          return element.style.display == "block";
        });

        if(blockElements){
          if (blockElements.length != 0 && blockElements[0].style) {
            blockElements[0].style.display = "none";
          }
        }
      },
      editRowHandler(data, field) {
        if ( field.type == 'waiting' ) {
            this.tableItems[data.index]['id_manager'] = this.user.id;
            this.tableItems[data.index]['type'] = 1;
        } else {
            this.tableItems[data.index]['id_manager'] = this.user.id;
            this.tableItems[data.index]['type'] = 2;
        }
        this.closeEditOrganizationPopup();
        this.$emit("submit", this.tableItems[data.index]);
      },
      inputHandler(e, index, field) {
        if (!e.target.validity.valid) {
          this.tableItems[index].validity[field.key] = false;
          this.$set(this.tableItems, index, this.tableItems[index]);
        } else {
          if (field.required || field.patter) {
            this.tableItems[index].validity[field.key] = true;
          }
          this.tableItems[index][field.key] = e.target.value;
          this.$set(this.tableItems, index, this.tableItems[index]);
          this.$emit("input", this.tableItems);
        }
      },
      selectRowHandler(data) {
        this.tableItems[data.index].isSelected = !this.tableItems[data.index]
          .isSelected;
      },
      disableButton(data) {
        return Object.values(data.item.validity).some(valid => !valid);
      },
      openEditPopup(event, index) {
            if ( this.typeOfQuestion == 2) {
                return;
            } else {
                this.isClosePopup = true;
                const elements = document.getElementsByClassName("show_edit_wrapper");
                
                const blockElements = Array.from(elements).filter((element) => {
                    return element.style.display == "block";
                });
                
                if(blockElements){
                    if (blockElements.length != 0 && blockElements[0].style) {
                        blockElements[0].style.display = "none";
                    }
                }
                
                if (event.target.nextSibling.nextSibling) {
                    event.target.nextSibling.nextSibling.style.display = "block";
                }
            }
      },
      mapItems(data) {
        return data.map((item, index) => ({
          ...item,
          isEdit: this.tableItems[index] ? this.tableItems[index].isEdit : false,
          isSelected: this.tableItems[index]
            ? this.tableItems[index].isSelected
            : false,
          validity: this.tableItems[index] ? this.tableItems[index].validity : {},
        }));
      },
    },
  };
  </script>
  <style>
  .action-container {
    margin-bottom: 10px;
  }
  .action-container button {
    margin-right: 5px;
  }
  .delete-button {
    margin-left: 5px;
  }
  .modal-backdrop {
    background: transparent;
  }
  header {
    height: auto;
  }
  .show_edit_wrapper {
    width: 120px;
    display: none;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    fill: #FFF;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    z-index: 10;
  }
  .close_admin_edit_wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0;
    float: right;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: rgb(253, 95, 95);
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .admin_buttons {
    width: 100%;
    background-color: #fff;
  }
  .admin_edit_button {
    color: #2D9CDB;
  }
  .admin_delete_button {
    color: #EB5757;
  }
  .admin_block_button {
    color: #F2994A;
    border: 1px solid transparent;
  }
  .admin_done_button {
    color: green;
  }
  .admin_buttons:hover .admin_block_button{
    color: #000;
  }
  .admin_buttons:hover .admin_done_button{
    color: #fff;
  }
  .form-control {
    height: max-content;
  }
  </style>