<template>
    <article>
      
        <div class="admin_panel flex justify-content-space-between m-3">
            <div class="flex justify-content-center align-items-center">

                <b-form-input
                    class="childs_search mr-2"
                    style="height: auto !important;"
                    v-model="searchChild"
                    type="search"
                    placeholder="Поиск по ФИО"
                ></b-form-input>
                
                <select class="py-1 px-4" style="border: 1px solid #D5DBE2; border-radius: 5px;" @change.capture="selectGroup($event)"  required>
                    <option :value="0"> Все группы </option>
                    <option v-for="(group , k)  in (groups)" :key="k" :value="group.value"> {{group.text}} </option>
                </select>
            </div>

            <div class="flex justify-content-center align-items-center">
                <b-button class="childs_add add-button childs_add ml-3" variant="success" @click="addRowHandler">
                    Добавить
                </b-button>
                <b-button class="ml-2" style="border-radius: 7px;" variant="danger" @click="openDialogOrganizations = true">
                    Удалить выбранные
                </b-button>
            </div>
        </div>

        <b-modal
            id="modal-1"
            v-model="openDialogOrganizations"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="removeRowsHandler"
        >
            <p class="my-4"> Вы уверены, что хотите удалить выбранные организации ?</p>
        </b-modal>
        
        <b-modal
            id="modal-1"
            v-model="openDialogOneOrganization"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="removeRowHandler(indexOrganization)"
        >
            <p class="my-4"> Вы уверены, что хотите удалить выбранную организацию ?</p>
        </b-modal>

        <b-table id="child-table" class="b-table" :items="tableItems" :fields="fields" :per-page="perPage" :current-page="currentPage" fixed>
            <template v-for="(field, index) in fields" #[`cell(${field.key})`]="data">
                <b-form-datepicker
                    v-if="field.type === 'date' && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                ></b-form-datepicker>

                <b-form-select
                    v-else-if="field.type === 'select' && tableItems[data.index].isEdit"
                    :key="index"
                    :value="tableItems[data.index][field.key]"
                    @input="(value) => inputHandler(value, data.index, field)"
                    :options="field.options"
                ></b-form-select>
                <b-form-checkbox
                    v-else-if="field.key === 'selectRow'"
                    :checked="tableItems[data.index].isSelected"
                    :key="index"
                    @change="selectRowHandler(data)"
                ></b-form-checkbox>
                <div class="table_edit_wrapper relative flex" :key="index" v-else-if="field.type === 'edit'">
                    <b-button 
                        class="light_xs_text admin_buttons"
                        @click="editRowHandler(data, field)" 
                        :disabled="disableButton(data)"
                    >
                        <span class="admin_edit_button" v-if="!tableItems[data.index].isEdit"> Редактировать</span>
                        <span class="admin_done_button" v-else> Готово </span>
                    </b-button>
                    <b-button
                        v-if="!tableItems[data.index].isEdit"
                        class="admin_buttons admin_delete_button light_xs_text"
                        @click="indexOrganization = data.index , openDialogOneOrganization = true"
                    >
                        Удалить
                    </b-button>
                    <b-button
                        v-if="tableItems[data.index].age == '' && isAdd"
                        class="admin_buttons admin_delete_button light_xs_text"
                        @click="cancelAdd()"
                    >
                        Отмена
                    </b-button>
                </div>
                <b-form-input
                    v-else-if="field.type && tableItems[data.index].isEdit"
                    :key="index"
                    :type="field.type"
                    :value="tableItems[data.index][field.key]"
                    @blur="(e) => inputHandler(e, data.index, field)"
                    :required="field.required"
                    :pattern="field.pattern"
                    :state="tableItems[data.index].validity[field.key]"
                ></b-form-input>
                <span :key="index" v-else>{{ getValue(data.value, field.key) }}</span>
            </template>
        </b-table>

        <div class="flex justify-content-space-between align-items-center mx-4 my-2">
            <b-form-checkbox v-if="tableItems[0]"
                :checked="tableItems[0].isSelected"
                @change="selectAllRowHandler()"
            > Выбрать всех</b-form-checkbox>
            <div class="">
                <b-pagination
                class="childs_pagination mr-2"
                v-model="currentPage"
                :per-page="perPage"
                :total-rows="rows"
                aria-controls="child-table"
                hide-goto-end-buttons
                hide-ellipsis
                last-number
                ></b-pagination>
            </div>
        </div>
    </article>
  </template>
  
  <script>

import { BootstrapVue, BTable, BButton, BPagination, BFormInput, BFormDatepicker, BModal, BFormCheckbox, BFormSelect } from 'bootstrap-vue';

export default {
    name: "EditableChildrenTable",
    components: {
        BootstrapVue,
        BTable,
        BModal,
        BButton,
        BPagination,
        BFormInput,
        BFormDatepicker,
        BFormCheckbox,
        BFormSelect
    },
    props: {
        value: Array,
        fields: Array,
        rows: Number,
        gender: Array,
        groups: Array,
    },
    data() {
        return {
            error: '',
            perPage: 12,
            currentPage: 1,
            searchChild: null,
            selectedGroup: '',
            tableItems: this.mapItems(this.value),
            openDialogOrganizations: false,
            openDialogOneOrganization: false,
            isAdd: false
        };
    },
    watch: {
        value(newVal) {
            this.tableItems = this.mapItems(newVal);
        },
        'searchChild': function() {
            this.filterTableItems();
        }
    },
    computed: {  
        
    },
    methods: {
        async selectGroup(event) {
            this.searchChild = '';
            this.selectedGroup = event.target.value;
            this.$emit('filter', [this.selectedGroup, 'filter']);
        },
        cancelAdd() {
            this.isAdd = false;
            this.tableItems.shift();
        },
        getValue ( value, key ) {
            if ( key == 'gender' ) {
                return this.gender.find( item => item.value == value ).text;
            } else if ( key == 'group_name') {
                return this.groups.find( item => item.value == value ).text;
            } else {
                return value;
            }
        },
        filterTableItems() {
            if (this.searchChild) {
                this.tableItems = this.mapItems(this.value);
                let filteredChild = Object.entries(this.tableItems).reduce((acc, [key, value]) => {
                    if ( value.name.toLowerCase().includes(this.searchChild.toLowerCase())) {
                        acc[key] = value;
                    } 
                    return acc;
                }, []);
                filteredChild = filteredChild.filter(element => {
                  return element !== '' && element !== null && element !== undefined;
                });

                this.tableItems = this.mapItems(filteredChild);
                this.$emit('filter', [filteredChild.length, 'row']);
            } else {
                this.tableItems = this.mapItems(this.value);
                this.$emit('filter', [this.tableItems.length, 'row']);
            }
        },
        editRowHandler(data, field) {

            if (this.tableItems[data.index].isEdit) {
                if ( this.isAdd ) {
                    this.error = false;

                    if (String(this.tableItems[data.index].iin).length != 12) {
                        this.error = true;
                        this.$toast.error("Неправильный формат ИИH!");
                    }
                    if (this.tableItems[data.index].name == "") {
                        this.error = true;
                        this.$toast.error("Заполните ФИО!");
                    }
                    if ( this.tableItems[data.index].gender == "" ) {
                        this.error = true;
                        this.$toast.error("Выберите пол!");
                    }
                    if ( this.tableItems[data.index].group_name == "" ) {
                        this.error = true;
                        this.$toast.error("Выберите группу!");
                    }

                    if ( !this.error ) {
                        this.$emit("submit", this.tableItems[data.index]);
                        
                        this.fields.forEach( field => {
                            if ( field.key == 'name') {
                                this.$delete(field, 'type');
                            } else if ( field.key == 'iin') {
                                this.$delete(field, 'type');
                            }
                        });

                        this.isAdd = false;
                        this.tableItems[data.index].isEdit = !this.tableItems[data.index].isEdit;
                        this.tableItems[data.index].validity = {};
                        this.$set(this.tableItems, data.index, this.tableItems[data.index]);
                    }
                } else {
                    this.$emit("submit", this.tableItems[data.index]);
                } 
            } else if ( this.isAdd ){
                this.$toast.info("Завершите добавление ребенка!");
            } else {
                this.tableItems[data.index].isEdit = !this.tableItems[data.index].isEdit;
                this.tableItems[data.index].validity = {};
                this.$set(this.tableItems, data.index, this.tableItems[data.index]);
            }
        },
        inputHandler(e, index, field) {
            if (field.type == 'select') {
                if (field.required || field.patter) {
                    this.tableItems[index].validity[field.key] = true;
                }
                let selected;
                field.options.forEach(element => {
                    if (element.value == e) {
                        selected = element.text;
                    }
                });
                if (selected) {
                    this.tableItems[index][field.key] = e;
                    this.$set(this.tableItems, index, this.tableItems[index]);
                    this.$emit("input", this.tableItems);
                }
            } else if (!e.target.validity.valid) {
                this.tableItems[index].validity[field.key] = false;
                this.$set(this.tableItems, index, this.tableItems[index]);
            } else {
                if (field.required || field.patter) {
                    this.tableItems[index].validity[field.key] = true;
                }
                this.tableItems[index][field.key] = e.target.value;
                this.$set(this.tableItems, index, this.tableItems[index]);
                this.$emit("input", this.tableItems);
            }
        },
        removeRowHandler(index) {
            this.$emit("remove", this.tableItems[index]);
        },
        addRowHandler() {
            if (!this.isAdd) {
                this.isAdd = true;
                
                const newChild = {
                    name: '',
                    iin: '',
                    birth: '',
                    age: '',
                    gender: "",
                    group_name: "",
                    isEdit: true,
                    isSelected: false,
                    validity: {},
                }
                
                this.fields.forEach( field => {
                    if ( field.key == 'name') {
                        field.type = 'text';
                    } else if ( field.key == 'iin') {
                        field.type = 'number';
                    }
                });
                
                this.tableItems.unshift(newChild);
                this.$emit("input", this.tableItems);
            } else {
                this.$toast.info("Завершите добавление ребенка!");
            }
        },
        removeRowsHandler() {
            const selectedItems = this.tableItems.filter((item) => 
                item.isSelected
            );

            if (selectedItems.length != 0 ) {
                this.tableItems = this.tableItems.filter((item) => { !item.isSelected });
                this.$emit("remove", selectedItems);
            }
        },
        selectAllRowHandler() {
            this.tableItems.forEach( item => {
                item.isSelected = !item.isSelected;
            });
        },
        selectRowHandler(data) {
            this.tableItems[data.index].isSelected = !this.tableItems[data.index].isSelected;
        },
        disableButton(data) {
            return Object.values(data.item.validity).some(valid => !valid);
        },
        mapItems(data) {
            return data.map((item, index) => ({
                ...item,
                isEdit: item ? item.isEdit : false,
                isSelected: item ? item.isSelected : false,
                validity: item ? item.validity : {},
            }));
        },    
    },
    mounted(){
    }
};
</script>

<style>
  .action-container {
    margin-bottom: 10px;
  }
  .action-container button {
    margin-right: 5px;
  }
  .delete-button {
    margin-left: 5px;
  }
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
  }
  header {
    height: auto;
  }
  .show_edit_wrapper {
    display: none;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    fill: #FFF;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    z-index: 10;
  }
  .close_admin_edit_wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0;
    float: right;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: rgb(253, 95, 95);
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .admin_buttons {
    width: 100%;
    background-color: #fff;
    border: 1px #fff solid;
  }
  .admin_edit_button {
    color: #2D9CDB;
  }
  .admin_delete_button {
    color: #EB5757;
  }
  .admin_block_button {
    color: #F2994A;
  }
  .admin_done_button {
    color: green;
  }
  .admin_delete_button:hover {
    color: #EB5757;
    border: 1px #EB5757 solid;
    background: #fff;
  }
  .admin_buttons:any-link{
    background: #fff;
    color: black;
  }
  .admin_buttons:hover {
    border: 1px black solid;
    background: #fff;
  }
  .admin_buttons:hover .admin_edit_button{
    color: #2D9CDB;
    background: #fff;
  }
  .admin_buttons:hover .admin_done_button{
    color: green;
    background: #fff;
  }
  .form-control {
    height: max-content;
  }
</style>