<template>
  <header>
    <div class="side_navbar_wrapper" :class="{ block: isActive }" @click="closeSideNavBar()">
      <div class="side_navbar">
        <li class="side_logo"></li>
        <li><a class="normal_text" href="/">Главная панель</a></li>
        <!-- <li><a class="normal_text" href="/groups">Группы</a></li> -->
        <!-- <li><a class="normal_text" href="/teachers">Воспитатели</a></li> -->
        <!-- <li><a class="normal_text" href="/childs">Дети</a></li> -->
        <!-- <li><a class="normal_text" href="/stats">Табель посещений</a></li> -->
        <!-- <li><a class="normal_text" href="/dashboard">Аналитика</a></li> -->
      </div>
    </div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill w-100 h-100">
      <div class="h-100">
		    <ul id="topNav" class="navbar-nav align-items-center h-100">
          <li class="navbar_icon" @click="toggleNavbar()">
            <a class="icon" v-if="user.role !== 10">
              <img src="./../../../public/images/navbar_icon.svg"/>
            </a>
          </li>
          <li class="logo"></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/"          >  Главная панель   </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/groups"    >  Группы           </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/teachers"  >  Воспитатели      </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/childs"    >  Дети             </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/stats"     >  Табель посещений детей </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/employees" >  Cотрудники       </a></li>
		      <li class="none" :class=" { 'block': user.role == 0 }" ><a class="normal_text" href="/employees-to-day">  Табель посещений сотрудников </a></li>
		      <li class="none" :class=" { 'block': user.role == 10 }"><a class="normal_text" href="/admin-organizations">  Организации   </a></li>
		      <!-- <li class="none" :class="{ 'block': user.role == 10 }"><a class="normal_text" href="/admin-teachers">       Воспитатели   </a></li> -->
		      <li class="none" :class="{ 'block': user.role == 10 }"><a class="normal_text" href="/admin-questions">     Обращения      </a></li>
		      <li class="none" :class="{ 'block': user.role == 10 }"><a class="normal_text" href="/admin-managers" >     Менеджеры      </a></li>
		    </ul>
      </div>
      <div class="profile dropdown no-arrow">
          <a
            class="flex align-items-center nav-link"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="">
              <img class="img-profile mr-3 rounded-circle" src="images/profile.svg"/>
            </div>
            <div class="mr-2 d-none d-lg-inline text-gray-600 small">
              <span class="normal_text" v-if="user.role == 0"> {{ user.admin_name }}</span> <br v-if="user.role == 0"> 
              <span class="gray_sm_text"> {{ user.name }} </span>
            </div>
          </a>

          <div
            class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown"
          >
            <a class="dropdown-item" href="/profile" v-if="user.role == 0">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Профиль
            </a>
            <a class="dropdown-item" href="/profile-change-password" v-if="user.role != 10">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Сменить пароль
            </a>
            <a class="dropdown-item" href="/send-error" v-if="user.role != 10">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Сообщить об ошибке
            </a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="javascript:void(0)"
              @click="logout"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Выйти
            </a>
          </div>
      </div>
		</nav>
  </header>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Nav",
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    setClass() {
      let lis = document.getElementById('topNav').childNodes;
      lis.forEach( li => {
        if (li.childNodes[0]) {
          if (li.childNodes[0].pathname == window.location.pathname) {
            li.childNodes[0].className = "normal_text active-tab";
          } else {
            // li.childNodes[0].className = "normal_text";
          }
        }
      });
    },
    logout() {
      if ( this.user.role == 10 ) {
        localStorage.removeItem("token");
        this.$store.dispatch("user", null);
        this.$router.push("/admin-login");
        axios.get( window.location.origin + '/cache-clear');
      } else {
        localStorage.removeItem("token");
        this.$store.dispatch("user", null);
        this.$router.push("/login");
        location.reload();
        axios.get( window.location.origin + '/cache-clear');
      }
    },
    toggleNavbar() {
      var sideNavbarWrapper = document.getElementsByClassName("side_navbar_wrapper");
      this.isActive = true;
    },
    closeSideNavBar() {
      this.isActive = false;
    }
  },
  computed: {
    ...mapGetters(["user"]),
  },
  mounted() {
    this.setClass();
  }
};
</script>

<style lang="css">
.block {
  display: block !important;
}
.none {
  display: none;
}
table {
  margin-bottom: 0 !important;
}
.max-content {
  height: max-content;
}
.dropdown-menu {
  z-index: 1002;
}
.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.text-align-center {
  text-align: center;
}
.ml-20 {
  margin-left: 20px;
}
.normal_title {
  color: #434656;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.normal_light_title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.large_text {
  color: #434656;
  font-size: 2rem;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.large_light_text {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.normal_text {
  color: #434656;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.gray_text {
  color: #434656B2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.gray_sm_text {
  color: #434656B2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.green_text {
  color: #2EA263;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.normal_sm_text {
  color: #434656;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.normal_xs_text {
  color: #434656;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
/* .gray_md_text {
  color: #434656B2;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
} */
.profile:hover {
  background-color: #EAF1F3;
  border-radius: 10px ;
}
.logo {
  width: 200px;
  height: 50px;
  margin-right: 20px;
  background-image: url("./../../../public/images/login_logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.side_logo {
  background-image: url("./../../../public/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}
header {
	width: 100%;
	height: 80px;
	
	background-color: #fff;
}
.container_nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
	width: 100%;
	height: 100%;
}
nav {
  justify-content: space-between !important;
}
.side_navbar_wrapper {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: #25252580;
}
.side_navbar {
    display: none;
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #fff !important;
    /* padding: 20px; */
    z-index: 999;
}
.side_navbar li {
	list-style: none;
	padding: 10px;
}
.navbar_icon {
  cursor: pointer;
  height: max-content;
}
.navbar .icon {
  display: none;
}
.navbar-nav {
  overflow: hidden;
}
.navbar-nav a {
  text-decoration: none;
}
nav ul {
	padding: 0;	
	display: flex;
}
nav ul li {
	list-style: none;
  margin: 10px;
	/* padding: 10px; */
}
nav ul li:first-child {
	padding-left: 0;
}
nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
	text-decoration: none;
	color: #434656;
}
.nav-hidden-seach {
	display: none;	
}
a:hover {
	color: #2EA263;
}
.active-tab {
	color: #2EA263;
}
@media screen and (max-width: 960px) {
	.container {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	header {
		height: 100%;
	}
	.logo {
		padding-right: 0;
	}
	.nav-hidden-seach {
		display: initial;
	}
	.nav-visible-seach {
		display: none;
		padding: 10px 0;
	}
}
@media screen and (max-width: 510px) {
	nav ul {
		display: flex;
		flex-direction: column;
	}
	nav ul li {
		padding: 10px 0;
	}
}
</style>