<template>
    <div>
        <Nav/>

        <div class = "container_admin min-vh-90 max-content">
            <div class="managers_wrapper">
                <div class="manager_block mb-3" v-for="(manager, index) in managers" :key="index">
                    <div class="normal_text mb-2"> {{ manager.name }}</div>
                    <div class="gray_sm_text"> Логин: {{ manager.email }}</div>
                </div>
                <div class="manager_block manager_add_block" @click="addManagerPopup = true">
                    <div class="icon_add"></div>
                    <div class="add_manager">Добавить менеджера</div>
                </div>

                <b-modal
                    id="modal-3"
                    title="Добавить нового менеджера"
                    v-model="addManagerPopup"
                    ok-title="Сохранить"
                    cancel-title="Отмена"
                    @ok="addManager"
                >
                    <div class="">
                        <div class="column">
                            <label class="gray_sm_text" for="">ФИО</label>
                            <input class="admin_organization_input" type="text" v-model="manager.name">
                        </div>
                        <div class="column">
                            <label class="gray_sm_text" for="">Логин</label>
                            <input class="admin_organization_input" type="email" v-model="manager.email">
                        </div>
                        <div class="column">
                            <label class="gray_sm_text" for="">Пароль</label>
                            <input class="admin_organization_input" type="password" v-model="manager.password">
                        </div>
                    </div>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Nav from "../../../components/Nav";
import LoadingButton from "../../../components/LoadingButton";
import { BModal } from 'bootstrap-vue';

export default {
  name: "AdminLogin",
  components: {
    Nav,
    LoadingButton,
    BModal
  },
  data() {
    return {
        isLoading: false,
        addManagerPopup: false,
        managers: [],
        manager: {
            name: "",
            email: "",
            password: ""
        }
    };
  },
  methods: {
    async getManagers() {
        const res = await axios.get('/api/admin/get-managers');
        this.managers = res.data;
    },
    addManager(){
        axios.post(`/api/admin/add-manager`, {
                'name': this.manager.name,
                'email': this.manager.email,
                'password': this.manager.password
              })
              .then(response => {
                this.addManagerPopup = false
                this.getManagers();
                this.$toast.success("Менеджер успешно добавлен!");
              })
              .catch(error => {
                this.$toast.success(error);
              });
    }
  },
  created(){
    this.getManagers();
  },
};
</script>

<style>
.container_admin {
    padding: 20px;
}
.managers_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.333%;
}
.manager_blocks {
    width: 100%;
}
.manager_block {
    cursor: pointer;
    height: 120px;
    width: 24%;
    padding: 30px;
    border-radius: 10px;
    background: #EFF3F5;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.manager_add_block {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24%;
    border-radius: 10px;
    border: 2px dashed var(--main-color, #2EA263);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.manager_add_block:hover {
    background-color: #fff;
}
.add_manager {
    color: var(--main-color, #2EA263);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header {
    height: auto;
}
.modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
}
.admin_organization_input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #D5DBE2;
    background: #FFF;
}
</style>