.blind_title {
    font-size: 32px; 
    color: #2da263;
}

.stats_groups select {
    margin-left: 15px;
    padding: 3px 20px;
    border: 1px solid #dadada;
    border-radius: 8px;
}
.stats_month {
    font-size: 0.875rem;
    padding: 5px 10px;
    border: 1px solid #DADADA;
    border-radius: 10px;
  }
.digital {
  width: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}
.digital__time {
  font-size: 42px;
  color: #666666;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.digital__milliseconds {
  font-size: 8px;
}
.blind_logo {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 20px;
}
.blind_center_count  {
    width: 100%;
    background: #fff;
    height: 77%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.scroll_style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.scroll_style::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}
.scroll_style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.arrow {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowUp 2s infinite;
}
.arrow_page {
  width: 30px;
  position: absolute;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}

.arrow.two {
  opacity: 0;
  animation-delay: 1s;
}
.arrow_page.two_page {
  opacity: 0;
  animation-delay: 1s;
}

@keyframes arrowUp {
  0% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
.drag_button_wrapper{
    position: absolute;
    top: 97.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.drag_button_page {
    cursor: pointer;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 80px;
}
.drag_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: grab;
    transition: transform 0.3s;
}
.drag_button_active {
  transform: translateY(-10px);
  cursor: grabbing;
}
.drag_button span {
  font-size: 16px;
  font-weight: bold;
}
.blind_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blind_region {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #666666;
    text-align: center;
    margin-top: 25px;
}
.exactly_date {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #666666;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.blind_chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.donut_number {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.01em;
}
.donut_info {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
}
.donut_sick_color{
    color: #EDA774;
}
.donut_weekend_color{
    color: #4F81BD;
}
.donut_missed_color{
    color: #B1B1B7;
}
.donut_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#autoScrollTrigger {
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    transition: height 0.5s ease;
}
.blind_description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #949494;
}
.current_day_blind {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
}
.numbers_blind {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 80px;
    text-align: center;
}
.blind_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blind_card {
    width: 30%;
    height: 80%;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 60px 45px;
    background-color: #fff;
}
.show_blind {
    height: 100vh;
}
.hide_blind {
    height: 0vh;
}
.cells {
    display: flex;
    justify-content: center;
}
.tarify_table {
    position: fixed;
    z-index: 9998;
    top: 10vh;
    right: 0.5%;
    width: 38.3%;
    height: 40%;
}
.hide_none {
    display: none;
}
.show_table {
    display: block !important;
}
.last_downloaded_date{
    display: flex;
    align-items: center;
    text-align: right;
    padding: 5px 10px;
    color: #7e818b;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
}
.last_downloaded_date:hover {
  background-color: #EAF1F3;
  border-radius: 10px ;
}
.kindergarten_filter {
    display: flex;
    align-items: center;
}
.modal_table {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

}
.modal_container_table {
    position: relative;
    top: 7vh;
    width: 99vw;
    height: 91vh;   
    margin: 0.5%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal_container_tarify {
    position: relative;
    top: 7vh;
    width: 100%;
    height: 100%;
    margin: 0.5%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal_graph {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
.modal_attendance {
    position: relative;
    top: 15vh;
    right: -34%;
    width: 550px;
    height: 81vh;   
    margin: 0.5%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.modal_container {
    position: relative;
    top: 16vh;
    width: 99%;
    height: 81vh;   
    margin: 0.5%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('./../../../../public/images/icon_close.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.fullscreen {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("./../../../../public/images/fullscreen.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.shortscreen {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("./../../../../public/images/shortscreen.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.child_to_day_parameters {
    height: 7vh;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5%;
    border-radius: 10px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
.child_to_day_parameter {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.child_to_day_select {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.child_to_day_select input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7e818b;
}
.child_to_day_select_graphs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #2da263;
}
.child_to_day_select_graph {
    padding: 5px;
    cursor: pointer;
}
.child_to_day_select_graph_clicked {
    background-color: #2da263;
    color: white;
}
.child_to_day {
    display: flex;
    flex-direction: row;
    height: 82vh;
}
.child_to_day_table {
    position: relative;
    width: 60%;
    height: 98%;
    margin: 0.5%;
    border-radius: 10px;
    padding-bottom: 9px;
    overflow: hidden;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.2);
}
.table {
    border: 1px solid #e5eaef;
}
.search_table {
    border: 1px solid #e5eaef;
    padding: 5px 10px;
    margin: 10px 20px;
}
.child_to_day_graphs {
    height: 100%;
    width: 38%;
    margin: 0.5%;
}
.child_to_day_graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48.5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.2);
}
.child_to_day_header {       
    font-size: 12px;
    color: #6087A0;
    font-weight: 600;
    text-align: center;
    vertical-align: inherit;
    border: 1px solid #e5eaef;
    padding: 5px;
    line-height: 14px;
    background: white;
    text-transform: uppercase;  
}
.child_to_day_header_name {
    min-width: 350px !important;
}
.child_to_day_header_amount {
    min-width: 75px !important;
    max-width: 125px !important;
}
.child_to_day_border {
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 10px;
    border: 1px solid #e5eaef;
}
.child_to_day_header_empty {
    max-width: 40px !important;
    min-width: 30px !important;
}
.text_left {
    text-align: left;
}
.child_to_day_table_name {
    cursor: pointer;
    min-width: 36%;
    padding: 0;
    border-left: none !important;
}
.child_to_day_table_name_block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}
.child_to_day_table_name_title {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid #e5eaef;
    padding: 0 10px;
}
.child_to_day_table_numbers {
    min-width: 75px !important;
    max-width: 125px !important;
}
.child_to_day_month_plan_0 {
    background-color: #80b4e4;
}
.child_to_day_month_fact_0 {
    background-color: #bbd1e6;
}
.child_to_day_month_plan_1 {
    background-color: #a7e0fb;
}
.child_to_day_month_fact_1 {
    background-color: #c7eafb;
}
.child_to_day_month_plan_2 {
    background-color: #b5e2f7;
}
.child_to_day_month_fact_2 {
    background-color: #bfe4f8;
}
.child_to_day_month_plan_3 {
    background-color: #ccecff;
}
.child_to_day_month_fact_3 {
    background-color: #daecf7;
}
.child_to_day_month_plan_4 {
    background-color: #c9ebd7;
}
.child_to_day_month_fact_4 {
    background-color: #f9f6dd;
}
.arrow-up {
    width: 20px;
    height: 20px;
    background-image: url("/images/arrow-up.png");
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-down {
    width: 20px;
    height: 20px;
    background-image: url("/images/arrow-down.png");
    background-position: center;
    background-repeat: no-repeat;
}
.child_to_day_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: #E8F4FC;
}
.child_to_day_head_formula {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    background: #E8F4FC;
}
.child_to_day_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #E8F4FC;
}
.child_to_day_title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #3F4D67;
}
.child_to_day_unit {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
    color: #6087A0;
}
.child_to_day_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c_d_table{
  max-width: 100%;
  height: 85.5%;
  overflow: scroll;
}
.c_table, .table_child {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  max-height: 100%;
}    
.table_child thead {
  position: sticky;
  top: 0;
}
.clicked_row {
    background: #b9e0dd !important;
}
.table_row_level_0 {
    background: #9ec3e6;        
}
.table_row_level_1 {
    background: #b5e2f7;
}
.table_row_level_2 {
    background: #c0e6ff;
}
.table_row_level_3 {
    background: #dff3ff;
}
.table_row_level_4 {
    background: white;
}
.relax_day {
    background: #ddf1fa;
}
.edited_missing_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border: 1px dashed #b1b1b7;
    border-radius: 3px;
    background: #efeff1;
    vertical-align: inherit;
}
.missing_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background: #b1b1b7;
    vertical-align: inherit;
}
.sick_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background: #eda774;
    vertical-align: inherit;
}
.edited_sick_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border: 1px dashed #eda774;
    border-radius: 3px;
    background: #fbede3;
    vertical-align: inherit;
}
.wekeend_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background: #4f81bd;
    vertical-align: inherit;
}
.edited_wekeend_day {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 5px;
    border: 1px dashed #4f81bd;
    border-radius: 3px;
    background: #dce6f2;
    vertical-align: inherit;
}
.attended_day {
  cursor: pointer;
  min-width: 20px;
  height: 20px;
  padding: 5px;
}
.edited_attended_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px dashed black;
  border-radius: 3px;
  background: #fff;
  vertical-align: inherit;
}
.missing_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #b1b1b7;
    border-radius: 50%;
}
.edited_missing_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #b1b1b7;
    background: #efeff1;
    border-radius: 50%;
}    
.sick_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #eda774;
    border-radius: 50%;
}
.edited_sick_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #eda774;
    background: #fbede3;
    border-radius: 50%;
}
.wekeend_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #4f81bd;
    border-radius: 50%;
}
.edited_wekeend_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #4f81bd;
    background: #dce6f2;
    border-radius: 50%;
} 
.dashboard_select_government {
    width: 300px;
    padding: 7px !important;
}
#modal-2 {
    width: 300px;
}
@media screen and (max-width: 1280px) {
    .child_to_day {
        height: 100vh;
        flex-direction: column-reverse;
    }
    .child_to_day_graphs {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 99%;
    }
    .child_to_day_graph {
        height: 100%;
        width: 49%;
    }
    .child_to_day_table {
        width: 99%;
    }
    .dashboard_select_government {
        width: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .child_to_day_parameters_md {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 10px 20px;
    }
    .child_to_day_select_graphs {
        width: 100%;
    }
    .child_to_day_select_graph {
        width: 50%;
    }
    .child_to_day_select {
        width: 100%;
    }
    .dashboard_select_government {
        width: 100% !important;
    }
    .modal_attendance {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px) { 
    .child_to_day_graphs {
        flex-direction: column;
    }
    .child_to_day_graph {
        width: 99%;
        height: 500px !important;
    }
}

@media screen and (max-width: 414px) { 

}

    
