<template>
    <div>
      <Nav />
      <div class="container_teachers min-vh-90 max-content">
        <div class="teachers">
            <div class="teachers_left">
                <div class="teachers_header">
                    <div class="teachers_header">
                        <div class="teachers_logo"></div>
                        <div class="teachers_title">Воспитатели</div>
                    </div>
                    <button class="teachers_button teachers_no_button" @click="addTeacher()"> <div class="icon_plus"></div> Добавить</button>
                </div>
                <div class="teachers_list">
                    <div class="teacher_left_block" :class="{ 'teacher_left_block_selected': activeIndex === index }" v-for="(teacher, index) in teachers" :key="index" @click="selectTeacher(teacher, index)">
                      <div class="teacher_left_list">
                        <div class="">
                          <div class="teacher_name" :class="{ 'font_color_white': activeIndex === index }">{{ teacher.name }}</div>
                          <div class="teacher_groups" :class="{ 'font_color_white': activeIndex === index }"> Группы: {{ getGroupNames(teacher) }}</div>
                        </div>
                        <div class="arrow_right" :class="{ 'display_none': activeIndex === index }"></div>
                      </div>
                    </div>
                  </div>
                </div>
            <teacher :teachers="teachers" :teacherInfo="selectedTeacher" :isAdd="isAdd"
              @update-is-add="updateIsAdd($event)"
              @upload-is-add="uploadIsAdd()" 
              @update-teachers="updateTeachers($event)" 
            />
        </div>
        <div class="excel">
        </div>
      </div>
    </div>
  </template>
  
  <script>
  
  import axios from "axios";
  import Nav from "../../components/Nav";
  
  export default {
    name: "teachers",
    components: {
      axios,
      Nav,
    },
    data() {
      return {
        isAdd: false,
        activeIndex: -1,
        selectedTeacher: {},
        teachers: []
      };
    },
    computed: {
    },
    methods: {
      async getTeachers() {
        const res = await axios.get('/api/get-teachers');
        this.teachers = res.data;
      },
      async updateTeachers(teacherId) {
        await this.getTeachers();

        let selectedTeacher;

        if (teacherId == null) {
          this.isAdd = false;
        } else {
          Object.values(this.teachers).forEach( teacher => {
            if ( teacher.id == teacherId) {
              selectedTeacher = teacher;
            }
          });
          this.selectTeacher(selectedTeacher, this.activeIndex);
        }
      },
      selectTeacher(teacher, index) {
        this.activeIndex = index;
        this.selectedTeacher = teacher;
        this.isAdd = false;
      },
      addTeacher() {
        this.activeIndex = -1;
        this.isAdd = true;
      },
      updateIsAdd($event) {
        this.isAdd = $event;
        if ($event == false) {
          this.selectedTeacher.id = null;
        }
      },
      uploadIsAdd() {
        this.isAdd = !this.isAdd;
      },
      getGroupNames(teacher) {
        if ( teacher.group_names.length !== 0 ) {
          let groupNames = [];
          for (const key in teacher.group_names) {
            if (teacher.group_names.hasOwnProperty(key)) {
              const item = teacher.group_names[key];
              if (item.hasOwnProperty('group_name')) {
                groupNames.push(item.group_name);
              }
            }
          }
          return groupNames.join(', ');
        } else {
          return "Нет ответственных групп";
        }
      }
    },
    mounted () {
      this.getTeachers();
    }
  };
  </script>
  
  <style>
  .home-title {
    font-size: 4rem;
  }
  .masthead {
    background: linear-gradient(0deg, #4e73df 0%, #36b9cc 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .min-vh-50 {
      min-height: 50vh !important;
  }
  .container_teachers {
    width: 100%;
    background: #EFF3F5;
  }
  .teachers {
    width: 100%;
    display: flex;
  }
  .teachers_left {
    width: 28%;
    height: fit-content;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    background: #fff;
    overflow: hidden;
  }
  .teachers_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }
  .teachers_logo {
    background-image: url(./../../../../public/images/teachers_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .teacher_left_list {
    position: relative;
  }
  .arrow_right {
    position: absolute;
    background-image: url(./../../../../public/images/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
  }
  .teachers_title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .teachers_button {
    background-color: #2EA263;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 7px 10px 7px 20px;
  }
  .teachers_right {
    width: 70%;
    height: 100%;
    margin: 1%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
  }
  .teacher_left_block {
    cursor: pointer;
    align-items: center;
    border-top: 0.5px solid #434656;
  }
  .teacher_left_block_selected {
    background-color: #2EA263;
  }
  .font_color_white{
    color: #fff !important;
  }
  .display_none {
    display: none;
  }
  .teacher_left_list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px;
  }
  .teacher_name {
    font-size: 1rem;
    color: #434656;
  }
  .teacher_groups {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  </style>
  