<template>
    <div class="teachers_right">
        <b-modal
            id="modal-1"
            v-model="isDeleteTeacher"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="deleteButton"
        >
            <p class="my-4"> Вы уверены, что хотите удалить воспитателя ?</p>
        </b-modal>

        <div class="teachers_excel" v-if="teachers.length == 0 && !isAdd">
          <div class="teachers_empty_title"> Пока нет ни одного воспитателя </div>
          <div style="display: flex">
            <form @submit.prevent="importTeacher" class="flex align-items-center normal_sm_text">
              <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2"/>
              <button type="submit" class="childs_import_excel"> 
                <div class="icon_excel"></div>
                Импортировать
              </button>
            </form>
            <div class="mx-2">
              <p class="errors_block" style="width: 100% !important;" v-if="errorExcel"> {{ errorExcel }}</p>
            </div>
          </div>
        </div>

        <div class="teachers_selected" v-if="teacherInfo.id && !isAdd">
          <div class="teachers_right_header">
            <button class="teacher_edit teachers_no_button" @click="editButton()" v-if="!isEdited"> <div class="icon_edit"></div> Редактировать</button>
            <div class="teacher_save flex align-items-center justify-content-space-between w-100" v-if="isEdited">
              <div class="">
                <button class="teacher_edit teacher_delete" @click="isDeleteTeacher = true"> Удалить</button>
                <button class="teacher_edit ml-2" @click="openChangePasswordWrapper()"> Сменить пароль</button>
              </div>
              <div class="flex">
                <button class="teacher_edit teacher_cancel mr-2" @click="cancelButton()" > Отмена </button>
                <button class="teacher_edit teacher_save_button" @click="editTeacher()" > Сохранить </button>
              </div>
            </div>
          </div>
          <teacher-info :teacherInfo="editTeacherInfo" :isEdited="isEdited" :errorsTeacherEdit="errorsTeacherEdit"/>
          <teacher-group-info :teacherInfo="teacherInfo" :isEdited="isEdited" :isAddGroupsShowed="isAddGroupsShowed" @update-teachers="updateTeachers()" @update-is-edit="editButton()" @toggle-is-show-groups="onToggleIsShowGroups"/>
        </div>
        <form action="" @submit.prevent="createTeacher" class="teacher_info_add" v-if="isAdd">
          <div class="teacher_info_add">          
            <div class="teacher_edit_block">
                <div > ФИО </div> 
                <input type="text" v-model="newTeacher.name" required>
            </div>
            <div class="teacher_edit_block">
                <div >ИИН</div> 
                <input type="number" v-model="newTeacher.iin" required>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewTeacher['iin']"> {{ errorsNewTeacher['iin'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Телефон:</div> 
                <input type="number" v-model="newTeacher.telephone" required>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewTeacher['telephone']"> {{ errorsNewTeacher['telephone'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Дата рождения:</div> 
                <input type="date" v-model="newTeacher.birth_date" required>
            </div>
            <div class="teacher_edit_block">
                <div >Email:</div> 
                <input type="email" v-model="newTeacher.email" required>
            </div>
            <div class="teacher_edit_block">
                <div >Пароль:</div> 
                <input :type="showPassword === true ? 'text' : 'password'" id="password" v-model="newTeacher.password" class="input_password" required>
                <div class="strength" :class="'level_' + strengthLevel"></div>
                <i class="fas fa-eye show-icon" v-if="showPassword" @click="showPassword = !showPassword"></i>
                <i class="fas fa-eye-slash hide-icon" v-else @click="showPassword = !showPassword"></i>
                <i class="fas fa-frown level-icon" v-if="strengthLevel === 1"></i>
                <i class="fas fa-meh level-icon" v-if="strengthLevel === 2"></i>
                <i class="fas fa-smile level-icon" v-if="strengthLevel === 3"></i>
                <i class="fas fa-grin-stars level-icon" v-if="strengthLevel === 4"></i>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewTeacher['password']"> {{ errorsNewTeacher['password'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Подтвердите пароль:</div> 
                <input :type="showPasswordConf === true ? 'text' : 'password'" id="password_confirmation" v-model="newTeacher.password_confirmation" class="input_password" required>
                <div class="strength" :class="'level_' + strengthLevelConf"></div>
                <i class="fas fa-eye show-icon" v-if="showPasswordConf" @click="showPasswordConf = !showPasswordConf"></i>
                <i class="fas fa-eye-slash hide-icon" v-else @click="showPasswordConf = !showPasswordConf"></i>
                <i class="fas fa-frown level-icon" v-if="strengthLevelConf === 1"></i>
                <i class="fas fa-meh level-icon" v-if="strengthLevelConf === 2"></i>
                <i class="fas fa-smile level-icon" v-if="strengthLevelConf === 3"></i>
                <i class="fas fa-grin-stars level-icon" v-if="strengthLevelConf === 4"></i>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewTeacher['password_confirmation']"> {{ errorsNewTeacher['password_confirmation'] }}</p>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewTeacher['errors']"> {{ errorsNewTeacher['errors'] }}</p>
            </div>
          </div>
          <div class="flex" style="margin: 0 auto;">
            <button class="teachers_button teacher_cancel mr-3" @click="cancelCreateTeacher"> Отмена </button>
            <LoadingButton 
              class="reset_password_button register_button" 
              text="Добавить воспитателя"
              v-bind:isLoading="isLoading"
            />
          </div>
        </form>
        <div class="teachers_mobile_popup" v-if="isChangePassword">
            <div class="teachers_mobile_popup_wrapper">
              <form @submit.prevent="changeTeacherPassword" class="flex column justify-content-center align-items-center p-4">
                <div class="large_text center mb-2"> Сменить пароль: </div>
                <div class="teacher_edit_block" style="width: 40%;">
                  <div >Пароль:</div> 
                  <input :type="showChangablePassword === true ? 'text' : 'password'" id="password" v-model="changePassword.password" class="input_password w-100" required>
                  <div class="strength_change" :class="'level_' + strengthLevelOfChangablePassword"></div>
                  <i class="fas fa-eye show-icon" v-if="showChangablePassword" @click="showChangablePassword = !showChangablePassword"></i>
                  <i class="fas fa-eye-slash hide-icon" v-else @click="showChangablePassword = !showChangablePassword"></i>
                  <i class="fas fa-frown level-icon-change" v-if="strengthLevelOfChangablePassword === 1"></i>
                  <i class="fas fa-meh level-icon-change" v-if="strengthLevelOfChangablePassword === 2"></i>
                  <i class="fas fa-smile level-icon-change" v-if="strengthLevelOfChangablePassword === 3"></i>
                  <i class="fas fa-grin-stars level-icon-change" v-if="strengthLevelOfChangablePassword === 4"></i>
                  <p class="errors_block" v-if="errorsChangePassword['password']"> {{ errorsChangePassword['password'] }}</p>
                </div>
                <div class="teacher_edit_block" style="width: 40%;">
                  <div >Подтвердите пароль:</div> 
                  <input :type="showChangablePasswordConfirmation === true ? 'text' : 'password'" id="password_confirmation" v-model="changePassword.password_confirmation" class="input_password w-100" required>
                  <div class="strength_change" :class="'level_' + strengthLevelOfChangablePasswordConf"></div>
                  <i class="fas fa-eye show-icon" v-if="showChangablePasswordConfirmation" @click="showChangablePasswordConfirmation = !showChangablePasswordConfirmation"></i>
                  <i class="fas fa-eye-slash hide-icon" v-else @click="showChangablePasswordConfirmation = !showChangablePasswordConfirmation"></i>
                  <i class="fas fa-frown level-icon-change" v-if="strengthLevelOfChangablePasswordConf === 1"></i>
                  <i class="fas fa-meh level-icon-change" v-if="strengthLevelOfChangablePasswordConf === 2"></i>
                  <i class="fas fa-smile level-icon-change" v-if="strengthLevelOfChangablePasswordConf === 3"></i>
                  <i class="fas fa-grin-stars level-icon-change" v-if="strengthLevelOfChangablePasswordConf === 4"></i>
                  <p class="errors_block" v-if="errorsChangePassword['password_confirmation']"> {{ errorsChangePassword['password_confirmation'] }}</p>
                  <p class="errors_block" v-if="errorsChangePassword['errors']"> {{ errorsChangePassword['errors'] }}</p>
                </div>
                <div class="mt-4 flex justify-content-center">
                  <button class="teachers_button teacher_cancel mr-2" @click="back()"> Назад</button>
                  <LoadingButton 
                    class="reset_password_button register_button mr-3" 
                    text="Сменить пароль"
                    v-bind:isLoading="isLoading"
                  />
                </div>
              </form>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import TeacherGroupInfo from './TeacherGroupInfo';
  import TeacherInfo from './TeacherInfo';
  import LoadingButton from "../../components/LoadingButton.vue";
  import { BootstrapVue, BModal } from 'bootstrap-vue';
  
  export default {
    name: "teacher",
    props: {
      teacherInfo: Object,
      teachers: Array,
      isAdd: Boolean
    },
    components: {
        TeacherInfo,
        TeacherGroupInfo,
        LoadingButton,
        BootstrapVue,
        BModal
    },
    data() {
      return {
        newTeacher: {
          name: "",
          iin: "",
          telephone: "",
          birth_date: "",
          email: "",
          password: "",
          password_confirmation: "",
        },
        changePassword: {
          iin: "",
          password: "",
          password_confirmation: "",
        },
        errorsNewTeacher: {
          "iin" : "",
          "telephone" : "",
          "password" : "",
          "password_confirmation" : "",
          "errors": ""
        },
        errorsTeacherEdit: {
          "iin" : "",
          "telephone" : "",
          "email": "",
          "birth_date": "",
          "errors": ""
        },
        errorsChangePassword: {
          "password" : "",
          "password_confirmation" : "",
          "errors" : ""
        },
        isEdited: false,
        isLoading: false,
        isAddGroupsShowed: false,
        isChangePassword: false,
        isDeleteTeacher: false,
        showPassword: false,
        showPasswordConf: false,
        showChangablePassword: false,
        showChangablePasswordConfirmation: false,
        errorExcel: ''
      };
    },
    computed: {
      scorePassword() {
        let score = 0;
        if(this.newTeacher.password === '') return score;

        let letters = {};
        for(let i = 0; i < this.newTeacher.password.length; i++) {
          letters[this.newTeacher.password[i]] = (letters[this.newTeacher.password[i]] || 0) + 1;
          score += 5.0 / letters[this.newTeacher.password[i]];
        }

        let variations = {
          digits: /\d/.test(this.newTeacher.password),
          lower: /[a-z]/.test(this.newTeacher.password),
          upper: /[A-Z]/.test(this.newTeacher.password),
          special: /\W/.test(this.newTeacher.password)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      scorePasswordConf() {
        let score = 0;
        if(this.newTeacher.password_confirmation === '') return score;

        let letters = {};
        for(let i = 0; i < this.newTeacher.password_confirmation.length; i++) {
          letters[this.newTeacher.password_confirmation[i]] = (letters[this.newTeacher.password_confirmation[i]] || 0) + 1;
          score += 5.0 / letters[this.newTeacher.password_confirmation[i]];
        }

        let variations = {
          digits: /\d/.test(this.newTeacher.password_confirmation),
          lower: /[a-z]/.test(this.newTeacher.password_confirmation),
          upper: /[A-Z]/.test(this.newTeacher.password_confirmation),
          special: /\W/.test(this.newTeacher.password_confirmation)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      scoreOfChangablePassword() {
        let score = 0;
        if(this.changePassword.password === '') return score;

        let letters = {};
        for(let i = 0; i < this.changePassword.password.length; i++) {
          letters[this.changePassword.password[i]] = (letters[this.changePassword.password[i]] || 0) + 1;
          score += 5.0 / letters[this.changePassword.password[i]];
        }

        let variations = {
          digits: /\d/.test(this.changePassword.password),
          lower: /[a-z]/.test(this.changePassword.password),
          upper: /[A-Z]/.test(this.changePassword.password),
          special: /\W/.test(this.changePassword.password)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      scoreOfChangablePasswordConf() {
        let score = 0;
        if(this.changePassword.password_confirmation === '') return score;

        let letters = {};
        for(let i = 0; i < this.changePassword.password_confirmation.length; i++) {
          letters[this.changePassword.password_confirmation[i]] = (letters[this.changePassword.password_confirmation[i]] || 0) + 1;
          score += 5.0 / letters[this.changePassword.password_confirmation[i]];
        }

        let variations = {
          digits: /\d/.test(this.changePassword.password_confirmation),
          lower: /[a-z]/.test(this.changePassword.password_confirmation),
          upper: /[A-Z]/.test(this.changePassword.password_confirmation),
          special: /\W/.test(this.changePassword.password_confirmation)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      strengthLevel() {
        let pass = this.scorePassword;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      strengthLevelConf() {
        let pass = this.scorePasswordConf;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      strengthLevelOfChangablePassword() {
        let pass = this.scoreOfChangablePassword;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      strengthLevelOfChangablePasswordConf() {
        let pass = this.scoreOfChangablePasswordConf;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      editTeacherInfo() {
          let edit = {
              name: this.teacherInfo.name,
              iin: this.teacherInfo.iin,
              telephone: this.teacherInfo.telephone,
              birth_date: this.teacherInfo.birth_date,
              email: this.teacherInfo.email,
              password: this.teacherInfo.password,
              password_confirmation: this.teacherInfo.password_confirmation
          };
          return edit;
      },
      selectedTeacherId() {
        return this.teacherInfo.id;
      }
    },
    watch: {
      selectedTeacherId() {
        this.isEdited = false;
        this.isAddGroupsShowed = false;
      }
    },
    methods: {
        updateTeachers() {
          this.$emit('update-teachers', this.teacherInfo.id);
        },
        changeTeacherPassword(e) {
          this.errorsChangePassword = {
            "password" : "",
            "password_confirmation" : "",
            "errors": ""
          };

          if (this.changePassword.password.length < 8) {
              this.errorsChangePassword['password'] = "Пароль должен быть длиной не менее 8 символов";
          } else if (!/\d/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы одну цифру";
          } else if (!/[a-z]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
          } else if (!/[A-Z]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
          } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
          }

          if (this.changePassword.password !== this.changePassword.password_confirmation) {
              this.errorsChangePassword['password_confirmation'] = "Пароли не совпадают";
          }

          let stop = ( this.errorsChangePassword['password'].length == 0 && this.errorsChangePassword['password_confirmation'].length == 0);

          if (!stop) {
            e.preventDefault();
            return;
          }

          this.changePassword.iin = this.teacherInfo.iin;

          axios.post("/api/teacher-change-password", this.changePassword).then(res => {
            this.isEdited = !this.isEdited;
            this.isChangePassword = !this.isChangePassword;
            this.$toast.success(`Пароль ${this.teacherInfo.name} успешно сменен!`)
          }).catch(err => {
            this.$toast.error(err.response.data.errors)
            this.errorsChangePassword['errors'] = err.response.data.errors
          })
        },
        back() {
          this.isChangePassword = !this.isChangePassword;
        },
        addTeacher() {
          this.$emit('update-is-add', true);
        },
        cancelCreateTeacher() {
          this.$emit('update-is-add', false);
        },
        createTeacher(e) {
          this.errorsNewTeacher = {
            "iin" : "",
            "telephone" : "",
            "password" : "",
            "password_confirmation" : "",
            "errors" : ""
          }
          if (this.newTeacher.iin.length != 12) {
            this.errorsNewTeacher['iin'] = "Неправильный формат ИИH"
          }
          if (this.newTeacher.telephone.length != 11) {
            this.errorsNewTeacher['telephone'] = "Неверный номер телефона"
          }
          if (!this.newTeacher.telephone.startsWith("87")) {
            this.errorsNewTeacher['telephone'] = "Неверный формат телефона"
          }

          if (this.newTeacher.password.length < 8) {
              this.errorsNewTeacher['password'] = "Пароль должен быть длиной не менее 8 символов";
          } else if (!/\d/.test(this.newTeacher.password)) {
              this.errorsNewTeacher['password'] = "Пароль должен содержать хотя бы одну цифру";
          } else if (!/[a-z]/.test(this.newTeacher.password)) {
              this.errorsNewTeacher['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
          } else if (!/[A-Z]/.test(this.newTeacher.password)) {
              this.errorsNewTeacher['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
          } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.newTeacher.password)) {
              this.errorsNewTeacher['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
          }

          if (this.newTeacher.password !== this.newTeacher.password_confirmation) {
              this.errorsNewTeacher['password_confirmation'] = "Пароли не совпадают";
          }

          let stop = (this.errorsNewTeacher['iin'].length == 0 
              && this.errorsNewTeacher['telephone'].length == 0 
              && this.errorsNewTeacher['password'].length == 0
              && this.errorsNewTeacher['password_confirmation'].length == 0);

          if (!stop) {
            e.preventDefault();
            return;
          }

          axios.post("/api/teacher-register", this.newTeacher)
          .then( response => {
            if (response.status == 500) {
              this.$toast.error(response.data.errors)
              this.errors['errors'] = response.data.errors;
            } else {
              this.$toast.success(`Воспитатель ${this.newTeacher.name} успешно добавлен!`)
              this.$emit('update-teachers', null);
              this.$emit('update-is-add', false);
            }
          }).catch( err => {
              this.$toast.error(err.response.data.errors)
              this.errorsNewTeacher['errors'] = err.response.data.errors
            }
          );
        },
        openChangePasswordWrapper() {
          this.isChangePassword = !this.isChangePassword;
        },
        editButton() {
            this.isEdited = !this.isEdited;
        },
        cancelButton() {
            this.isEdited = !this.isEdited;
            this.isAddGroupsShowed = false;
        },
        onToggleIsShowGroups() {
          this.isAddGroupsShowed = !this.isAddGroupsShowed;
        },
        deleteButton() {
          axios.put(`/api/teachers/delete/${this.teacherInfo.id}`)
              .then(response => {
                this.isEdited = !this.isEdited;
                this.$toast.success(`Воспитатель ${this.teacherInfo.name} успешно удален(a)!`)
                this.$emit('update-teachers', null);
                this.$emit('update-is-add', false);
              })
              .catch(error => {
                this.$toast.error(error.response)
              });
        },
        editTeacher() {
          this.errorsTeacherEdit = {
            "iin" : "",
            "telephone" : "",
            "email": "",
            "birth_date": "",
            "errors": ""
          };

          if (String(this.editTeacherInfo.iin).length != 12) {
            this.errorsTeacherEdit['iin'] = "Неправильный формат ИИH"
          }
          if (String(this.editTeacherInfo.telephone).length != 11) {
            this.errorsTeacherEdit['telephone'] = "Неверный номер телефона"
          }
          if (!String(this.editTeacherInfo.telephone).startsWith("87")) {
            this.errorsTeacherEdit['telephone'] = "Неверный формат телефона"
          }
          if (!this.editTeacherInfo.email.includes('@') && !this.editTeacherInfo.email.includes('.')) {
            this.errorsTeacherEdit['email'] = "Неверный формат email, нету @ или ."
          }
          if (!this.editTeacherInfo.birth_date) {
            this.errorsTeacherEdit['birth_date'] = "Неверный формат телефона"
          }

          let stop = (this.errorsTeacherEdit['iin'].length == 0 
              && this.errorsTeacherEdit['telephone'].length == 0 
              && this.errorsTeacherEdit['birth_date'].length == 0
              && this.errorsTeacherEdit['email'].length == 0);

          if (!stop) {
            return;
          }

          axios.put(`/api/teachers/update/${this.teacherInfo.id}`, { 
              name: this.editTeacherInfo.name, 
              iin: this.editTeacherInfo.iin, 
              telephone: this.editTeacherInfo.telephone, 
              email: this.editTeacherInfo.email, 
              birth: this.editTeacherInfo.birth_date
            })
            .then(response => {
              this.isEdited = !this.isEdited;
              this.$emit('update-teachers', null);
              this.$toast.success(`Данные по воспитателю успешно сохранены!`);
            })
            .catch(error => {
              this.$toast.error(error.response.data.errors)
              this.errorsTeacherEdit['errors'] = error.response.data.errors;
            });
        },
        importTeacher() {
          const fileInput = this.$refs.file;
          const file = fileInput.files[0];
          this.errorExcel = '';

          if (file) {
            const formData = new FormData();
            formData.append('file', file);

            axios.post('api/add-teachers', formData)
              .then(response => {
                if (response.data.status == 'success') {
                  this.$toast.success("Воспитатели импортированы успешно!")
                  this.$emit('update-is-add', false);
                  this.$emit('update-teachers', null);
                } else {
                  this.$toast.error(response.data)
                  this.errorExcel = response.data;
                }
              })
              .catch(error => {
                this.$toast.error("Таблица эксель заполнена не по формату")
                this.errorExcel = "Таблица эксель заполнена не по формату";
              });
          } else {
            alert('Please select an Excel file.');
          }
        },
    },
    mounted() {
    }
  };
  </script>
  
<style lang="scss" scoped>
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

.input_password {
  position: relative;
  padding-left: 40px !important;
  color: #333;
  overflow: hidden;
  z-index: 10;
  margin-bottom: 10px;
  &:focus {
    outline: none;
  }
}

.strength {
  position: absolute;
  top: 30px !important;
  left: 0;
  right: 0;
  display: block;
  width: 80% !important;
  height: 45px;
  background-color: #a5df41;
  border-radius: 40px;
  overflow: hidden;
  z-index: 9;
  transition: all .5s linear;
}
.strength_change {
  position: absolute;
  top: 30px !important;
  left: 0;
  right: 0;
  display: block;
  width: 100% !important;
  height: 45px;
  background-color: #a5df41;
  border-radius: 40px;
  overflow: hidden;
  z-index: 9;
  transition: all .5s linear;
}

@mixin level($position, $width, $color) {
  top: $position;
  width: $width;
  background-color: $color;
}

.level_0 {
  @include level(0, 25%, #BB4440);
}
.level_1 {
  @include level(30px, 25%, #BB4440);
}
.level_2 {
  @include level(30px, 50%, #E17D30);
}
.level_3 {
  @include level(30px, 75%, #F0B03F);
}
.level_4 {
  @include level(30px, 100%, #a5df41);
}

.level-icon {
  position: absolute;
  right: 23%;
  top: 39px;
  z-index: 11;
}
.level-icon-change {
  position: absolute;
  right: 15px;
  top: 39px;
  z-index: 11;
}

@mixin showpass($property) {
  position: absolute;
  left: $property;
  top: 39px;
  z-index: 11;
  cursor: pointer;
}
.show-icon {
  @include showpass(10px);
}
.hide-icon {
  @include showpass(8px);
  color: #555;
}
</style>

<style>
  .teacher_info_add {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
  }
  .teachers_excel {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .teachers_empty_title {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }
  .teachers_no_button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .icon_plus {
    width: 20px;
    height: 20px;
    background-image: url(./../../../../public/images/icon_plus.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .icon_excel {
    width: 20px;
    height: 20px;
    background-image: url(./../../../../public/images/icon_excel.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .teachers_right_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 0.5px solid #434656;
  }
  .teacher_edit {
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 7px;
    background: var(--blue-2, #2D9CDB);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    padding: 7px 10px;
  }
  .teacher_info_block {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 0.5px solid #434656;
  }
  .teacher_photo {
    width: 150px;
    height: 150px;
    background-image: url(./../../../../public/images/teacher.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    margin-right: 20px;
  }
  .teacher_info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .teacher_info_name {
    color: var(--text-color, #434656);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_information {
    color: var(--text-color, #434656);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_info_titles {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_access {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .teacher_access_check {
    color: var(--main-color, #2EA263);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_login {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teachet_groups_title {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
  }
  .teachet_groups_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px 20px 20px;
  }
  .teacher_group_block {
    cursor: pointer;
    display: flex;
    width: 31%;
    height: 90px;
    padding: 15px 20px;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    border: 1px solid rgba(67, 70, 86, 0.25);
  }
  .teacher_group_img {
    min-width: 50px;
    height: 50px;
    background-color: #2EA263;
    background-image: url(./../../../../public/images/groups_block.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-right: 10px;
  }
  .teacher_group_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .teacher_group_name {
    color: var(--text-color, #434656);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_group_count {
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 0.875;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .teacher_cancel {
    padding: 7px 20px;
    background-color: #5A5A6D;
  }
  .teacher_save_button {
    background-color: #2EA263;
  }
  .teacher_delete {
    color: #EB5757;
    background-color: #E0E0E0;
  }
  .teachers_excel_button {
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: var(--main-color, #2EA263);
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 10px 7px 10px;
    border: none;
    margin-left: 20px;
  }
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
  }
  header {
    height: auto;
  }
  </style>
  