<template>
    <div class="teacher_info_block">
        <div class="teacher_photo"></div>
        <div class="teacher_info" v-if="!isEdited">
            <div class="teacher_info_name mb-2"> {{ teacherInfo.name }}</div>
            <div class="teacher_information"> <div class="teacher_info_titles"> ИИН: {{ teacherInfo.iin }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Телефон: {{ teacherInfo.telephone }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Email: {{ teacherInfo.email }} </div> </div>
            <div class="teacher_information"> <div class="teacher_info_titles"> Дата рождения: {{ teacherInfo.birth_date }}</div> </div>
        </div>
        <div class="teacher_info_edit" v-if="isEdited">
            <div class="teacher_edit_block">
                <div> ФИО</div>
                <input type="text" v-model="teacherInfo.name">
            </div>
            <div class="teacher_edit_block">
                <div> ИИН </div> 
                <input type="number" v-model="teacherInfo.iin">
                <p class="errors_block" style="width: 80%;" v-if="errorsTeacherEdit['iin']"> {{ errorsTeacherEdit['iin'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div> Телефон:</div>
                <input type="number" v-model="teacherInfo.telephone">
                <p class="errors_block" style="width: 80%;" v-if="errorsTeacherEdit['telephone']"> {{ errorsTeacherEdit['telephone'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div> Email:</div>
                <input type="email" v-model="teacherInfo.email">
                <p class="errors_block" style="width: 80%;" v-if="errorsTeacherEdit['email']"> {{ errorsTeacherEdit['email'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div> Дата рождения:</div>
                <input type="date" v-model="teacherInfo.birth_date">
                <p class="errors_block" style="width: 80%;" v-if="errorsTeacherEdit['password']"> {{ errorsTeacherEdit['birth_date'] }}</p>
                <p class="errors_block" style="width: 80%;" v-if="errorsTeacherEdit['errors']"> {{ errorsTeacherEdit['errors'] }}</p>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import moment from "moment";

  export default {
    name: "TeacherInfo",
    props: {
        isEdited: Boolean,
        teacherInfo: Object,
        errorsTeacherEdit: Object,
    },
    components: {
    },
    computed: {
        placeholderName() {
            return this.teacherInfo.name;
        }
    },
    methods: {
        
    },
    mounted() {
    }
  };
  </script>

  <style>
    .teacher_info_edit {
        width: calc(100% - 200px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-evenly;
    }
    .teacher_edit_block {
        position: relative;
        width: 33%;
        margin-bottom: 10px;
    }
    .teacher_edit_block div {
        color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }
    .teacher_edit_block input {
        width: 80%;
        color: var(--text-color, #434656);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #D5DBE2;
        background: #FFF;
    }
  </style>
  