<template>
    <div class="admin_login_bg">
      <div class="login_wrapper">
        <div class="flex column align-items-center">
          <div class="login_logo"></div>
          <div class="admin_title">ADMIN</div>
        </div>
        <div class="column justify-content-space-between align-content-center w-100">
          <form action="" @submit.prevent="login">
            <div class="login_title light_sm_text">Логин</div>
            <div class="username_wrapper">
              <input type="text" class="login_input" placeholder="Введите свой логин" v-model="email">
              <img src="./../../../../../public/images/username_icon.svg" class="username_icon"/>
            </div>
            <div class="login_title light_sm_text">Пароль</div>
            <div class="password_wrapper">
              <input type="password" class="login_input" placeholder="Введите пароль" v-model="password">
              <img src="./../../../../../public/images/password_icon.svg" class="password_icon"/>
            </div>
            <div class="errors_block" v-if="error"> {{ error }} </div>
            <LoadingButton 
              href="/api/login" 
              class="reset_password_button my-4" 
              text="Войти"
              v-bind:isLoading="isLoading"
            />
          </form>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";
import Nav from "../../../components/Nav";
import LoadingButton from "../../../components/LoadingButton";

export default {
  name: "AdminLogin",
  components: {
    Nav,
    LoadingButton
  },
  data() {
    return {
      isLoading: false,
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    async login() {
      this.error= "";
      const response = await axios.post("/api/login", {
          email: this.email,
          password: this.password,
      }).then( response => {
        localStorage.setItem("token", response.data.token);
        this.$store.dispatch("user", response.data.user);
        this.$router.push("/admin-organizations");
      }).catch( error => {
        if(error.response.status == 401) {
            this.error = 'Неправильное имя пользователя или пароль';
        } else {
            this.error = 'Произошла ошибка при входе в систему';
        }
      });
    },
  },
  created(){
  },
};
</script>

<style src="./../../../../css/app.css" scoped></style>

<style>
.admin_login_bg {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-image: url(./../../../../../public/images/admin_login_bg.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.admin_title {
  color: #2EA263;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.2px;
}
</style>